.button_headers {
  &.active {
    &::before {
      background: linear-gradient(#c441f4 0%, #9a6bc5 100%);
      box-shadow: 0 0 5px #c09ace, 0 0 10px #9a6bc5, 0 0 15px #ae70c4,
        0 0 20px #674e71;
    }
  }
}
