.v-checkbox {
     .v-input__control {
          .v-checkbox-btn {
               min-height: unset !important;
          }
     }

     &.checkbox-todo__item {
          .v-label {
               font-size: 14px;
          }
          .mdi-checkbox-blank-outline, .mdi-checkbox-marked{
               font-size: 18px;
          }

          .v-selection-control--dirty {
               .v-label {
                    text-decoration: line-through
               }
          }
     }
}