.dp__input_wrap {
  .dp__input_reg {
    padding: 10px 12px !important;
    padding-left: 40px !important;
  }

  .dp__input {
    font-size: 16px;
  }
}

.dp__instance_calendar {
  width: 300px !important;

  .dp__range_start,
  .dp__range_end,
  .dp__overlay_cell_active {
    background-color: #a862e9;
    border: #a862e9;
  }
}

.dp__action_row {
  flex-direction: column !important;
  padding-top: 0 !important;
  gap: 10px;
}

.dp__action_buttons {
  button {
    padding: 15px 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
      background-color: #a862e9;
    }
  }
}
