.description-content {
  h1 {
    font-size: 22px;
    font-weight: 500;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
  }
  p {
    font-size: 13px;
    font-weight: 500;
  }
}
