.item-todo__container {
  .v-slider {
    .v-slider-thumb {
      display: none !important;
    }
  }
}

.icon-bell__title {
  animation: identifier 2s infinite;
}
@keyframes identifier {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(20deg);
  }
  10% {
    transform: rotate(-20deg);
  }
  15% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  35% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
