.list-check__container {
     .v-slider {
          .v-slider-thumb {
               display: none !important;
          }
     }

     .v-field__input {
          input {
               font-size: 14px;
          }
     }
}