.filed-search__todo {
  .v-input__control {
    width: 400px;
    input {
      border-radius: 5px;
      font-size: 14px;
    }
  }
}

.datepicker-search__todo {
  & > div {
    width: 400px;
  }
  .dp__input_wrap {
    width: 400px;
    input {
      border-radius: 5px;
      font-size: 14px;
      padding: 8px 40px !important;
    }
  }
}
