.v-field__input {
  min-height: 40px !important;
  padding: 0;
}

.v-field__field {
  input {
    padding-left: 10px !important;
    &:focus {
      box-shadow: none !important;
    }
  }
}

.v-field__prepend-inner {
  padding: 0 !important;
  align-items: center !important;
  margin-right: 8px !important;
}
