<template>
  <div class="py-8 text-center">
    <p class="py-8 text-[80px] font-bold">403</p>
    <p class="pb-4 text-3xl font-bold">Forbidden</p>
    <hr class="border-black" />
    <div class="mt-4 flex flex-col gap-4">
      <p class="font-bold">403 Forbidden。</p>
      <div class="flex w-full justify-center">
        <VButton label="Forbidden" @click="$router.push('/')" />
      </div>
    </div>
  </div>
</template>
