<script lang="ts" setup>
import { storeToRefs } from "pinia";
import { useOverLoading } from "~/common/stores/OverLoading";
import { useNoteStore } from "~/home/stores/Note";
import type { Appointment } from "vue-pro-calendar";

const isLoading = ref(false);
const useNote = useNoteStore();
const { noteData } = storeToRefs(useNote);
const listEvent = ref<Appointment[]>([]);

onMounted(async () => {
  isLoading.value = true;
  await useNote.load();
  isLoading.value = false;
});

watch(noteData, (note) => {
  listEvent.value = note.map((n) => ({
    date: n.timeFrom,
    comment: "",
    id: n.noteId.toString(),
    keywords: "",
    name: n.title,
  }));
});
</script>
<template>
  <VProCalendar :is-loading="isLoading" :events="listEvent" />
</template>
<route lang="yaml">
meta:
  layout: Base
</route>
