<script setup lang="ts">
interface VButtonProps {
  icon?: string;
  label?: string;
  prependIcon?: string;
  appendIcon?: string;
  classButton?: string;
  variant?: "outlined" | "text";
  disabled?: boolean;
  active?: boolean;
}
const props = withDefaults(defineProps<VButtonProps>(), {
  disabled: false,
  active: false,
});
const { icon } = toRefs(props);
</script>

<template>
  <template v-if="!icon">
    <v-btn
      :active="active"
      class="!min-h-[25px] !min-w-[25px] normal-case"
      :class="classButton"
      :prepend-icon="prependIcon"
      :append-icon="appendIcon"
      :variant="variant"
      :disabled="disabled"
    >
      <slot name="image"></slot>
      {{ label }}
    </v-btn>
  </template>
  <template v-else>
    <v-btn
      class="!min-h-[25px] !min-w-[25px] normal-case"
      :class="classButton"
      :icon="icon"
      :variant="variant"
    >
    </v-btn>
  </template>
</template>
