<script setup lang="ts">
import { toRefs } from "vue";

const router = useRouter();
interface VButtonProps {
  img: string;
  param: string;
}
const props = defineProps<VButtonProps>();
const { param } = toRefs(props);

const classActiveButton = computed(() => {
  const routerName = router.currentRoute.value.name?.toString();
  const routerPath = param.value.split("/")[1];

  if (routerName) {
    if (param.value === "/") {
      if (routerName === "index" || routerName.includes("note"))
        return "active";
      else return "";
    } else return routerName.includes(routerPath) ? "active" : "";
  }
});
</script>
<template>
  <div
    class="button_headers relative flex w-full items-center justify-center before:absolute before:left-[-6px] before:top-0 before:h-full before:w-[6px] before:rounded-bl-[20px] before:rounded-tl-[20px]"
    :class="classActiveButton"
  >
    <VButton
      @click="router.replace(param)"
      class-button="!w-[45px] !h-[45px] rounded-[50%] p-0 flex justify-center items-center"
    >
      <template #image>
        <img class="!h-[45px] !w-[45px]" :src="img" alt="" />
      </template>
    </VButton>
  </div>
</template>
