<script setup lang="ts">
interface VButtonProps {
  icon: string;
  classIcon?: string;
  size?: "x-small" | "small" | "medium" | "large" | "x-large";
}
defineProps<VButtonProps>();
</script>
<template>
  <v-icon :icon="icon" :class="classIcon" :size="size"></v-icon>
</template>
