<script setup lang="ts">
interface VItemMenuProps {
  icon?: string;
  label: string;
  classItemMenu?: string;
}
defineProps<VItemMenuProps>();
</script>
<template>
  <v-list-item
    class="!min-h-[30px] cursor-pointer !p-2 transition hover:bg-gray-200"
    :class="classItemMenu"
  >
    <div class="flex items-center gap-2">
      <v-list-item-title v-if="icon" class="flex items-center">
        <VIcon size="medium" :icon="icon" />
      </v-list-item-title>
      <v-list-item-title>{{ label }}</v-list-item-title>
    </div>
  </v-list-item>
</template>
