<script lang="ts" setup>
export type ItemVMenus = {
  icon?: string;
  label: string;
  open?: () => void;
};

interface VMenuProps {
  icon?: string;
  label?: string;
  items: ItemVMenus[];
  classButton?: string;
}
defineProps<VMenuProps>();

const isOpenMenu = ref(false)

const handelCloseMenu = () => {
  isOpenMenu.value = false
}
defineExpose({
  handelCloseMenu
});

</script>

<template>
  <v-menu ref="parentMenuRef" v-model="isOpenMenu">
    <template v-slot:activator="{ props }">
      <VButton v-bind="props" :icon="icon" :label="label" :class-button="classButton">
        <template v-slot:image>
          <slot name="image"></slot>
        </template>
      </VButton>
    </template>
    <v-list class="p-1">
      <v-list-item v-for="(item, index) in items" :key="index" :value="index" class="!p-2" @click="item.open">
        <div class="flex items-center gap-2">
          <v-list-item-title v-if="item.icon" class="flex items-center">
            <VIcon size="medium" :icon="item.icon" />
          </v-list-item-title>
          <v-list-item-title>{{ item.label }}</v-list-item-title>
        </div>
      </v-list-item>
      <slot name="listmenu"></slot>
    </v-list>
  </v-menu>
</template>
