<script setup lang="ts">
const dialog = ref(false);
const emit = defineEmits(["open"]);
interface VDialogProps {
  isOpen?: boolean;
  persistent?: boolean;
  isNotAnimation?: boolean;
  classBody?: string;
}
const props = withDefaults(defineProps<VDialogProps>(), {
  isOpen: false,
  persistent: true,
  isNotAnimation: false,
});

const { isOpen } = toRefs(props);

watch(
  () => dialog.value,
  (value) => {
    emit("open", value);
  }
);

watch(
  () => isOpen.value,
  (value) => {
    dialog.value = value;
  }
);
</script>
<template>
  <v-dialog
    v-model="dialog"
    width="auto"
    :persistent="persistent"
    :no-click-animation="isNotAnimation"
  >
    <template v-slot:activator="{ props }">
      <div v-bind="props">
        <slot name="open"></slot>
      </div>
    </template>
    <v-card class="p-3" :class="classBody">
      <slot name="body"></slot>
      <slot name="close"></slot>
    </v-card>
  </v-dialog>
</template>
