<script lang="ts" setup>
interface VSwitchProps {
  label?: string;
  inset?: boolean;
  value?: boolean;
}
const props = withDefaults(defineProps<VSwitchProps>(), {
  inset: false,
  value: false,
});
const { value } = toRefs(props);

const valueSwitch = ref(value.value);
watch(
  () => value.value,
  (value) => {
    valueSwitch.value = value;
  }
);
</script>
<template>
  <v-switch
    :label="label"
    :inset="inset"
    hide-details="auto"
    v-model="valueSwitch"
  ></v-switch>
</template>
