<script setup lang="ts">
import { Chart, ChartItem, registerables } from "chart.js";
import ChartDataLabels from "chartjs-plugin-datalabels";

interface VChartProps {
  labels: string[];
  title: string;
  data: number[] | string[];
  backgroundChar?: string[];
  type:
    | "bar"
    | "doughnut"
    | "line"
    | "scatter"
    | "polarArea"
    | "radar"
    | "scatter";
  classVChart?: string;
}
const props = withDefaults(defineProps<VChartProps>(), {
  type: "bar",
});

const { labels, title, data, type, backgroundChar } = toRefs(props);

onMounted(() => {
  const ctx = document.getElementById("myChart") as ChartItem;
  Chart.register(...registerables);
  new Chart(ctx, {
    type: type.value,
    data: {
      labels: labels.value,
      datasets: [
        {
          label: title.value,
          data: data.value,
          borderWidth: 1,
          backgroundColor: backgroundChar?.value,
          hoverOffset: 4,
        },
      ],
    },
    options: {
      plugins: {
        datalabels: {
          formatter: (value) => {
            return value + `${value ? '%' : ''}`;
          },
          color: "#fff",
          font: {
            size: 15,
          },
        },
      },
    },
    plugins: [ChartDataLabels],
  });
});
</script>
<template>
  <canvas :class="classVChart" id="myChart"></canvas>
</template>
