<script lang="ts" setup>
interface VCheckboxProps {
  label: string;
  value: any;
  classVCheckbox?: string;
}
const props = defineProps<VCheckboxProps>();
const { value } = toRefs(props);
const emit = defineEmits(["update:value"]);
const valueCheck = ref("");

onMounted(()=> {
  if (value.value.value && value.value.value.status === 1) {
    valueCheck.value = value.value;
  }
})

watch(
  () => valueCheck.value,
  () => {
    let valueCheckBox = value.value;
    if (valueCheck.value) {
      valueCheckBox.value["status"] = 1;
    } else valueCheckBox.value["status"] = 0;
    emit("update:value", valueCheckBox.value);
  }
);

watch(() => value.value, (value) => {
  if (value.value && value.value.status === 1) {
    valueCheck.value = value;
  }
})

</script>
<template>
  <v-checkbox :class="classVCheckbox" class="inline-block" :label="label" :value="value"
    v-model="valueCheck" hide-details="auto"></v-checkbox>
</template>
