<script lang="ts" setup>
import VueDatePicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";

const date = ref();
const emit = defineEmits(["update:date"]);

onMounted(() => {
  const toDay = new Date();
  date.value = [toDay, toDay];
});

watch(
  () => date.value,
  (value) => {
    emit("update:date", value);
  }
);
</script>
<template>
  <VueDatePicker v-model="date" range :teleport="true" />
</template>
