<script lang="ts" setup>
import draggable from "vuedraggable";

interface DraggableProps {
  items: any[];
}
const props = defineProps<DraggableProps>();
const { items } = toRefs(props);
const emit = defineEmits(["update:items"]);

let draggblesValue = ref(items.value.sort((a, b) => a.trim - b.trim));

// update value when props change
watch(items, (value) => {
  draggblesValue.value = value;
});

// emit value when draggblesValue change
watch(draggblesValue, (value) => {
  value.forEach((item, index) => {
    item.trim = index;
  });

  emit("update:items", value);
});
</script>
<template>
  <draggable
    v-model="draggblesValue"
    tag="ul"
    itemKey="todoUuid"
    group="meals"
    :animation="300"
  >
    <template #item="{ element: value }">
      <li>
        <slot :value="value" name="item"></slot>
      </li>
    </template>
  </draggable>
</template>
