<script lang="ts" setup>
import { QuillEditor } from "@vueup/vue-quill";
import "@vueup/vue-quill/dist/vue-quill.snow.css";
import "@vueup/vue-quill/dist/vue-quill.bubble.css";

// Quill.register("modules/emoji", QuillEmoji);

interface classEditorProp {
  classEditor?: string;
  readonly?: boolean;
  placeholder?: string;
  bindEditor?: any;
  valueEditor?: string;
}
const props = defineProps<classEditorProp>();
const { readonly, placeholder, valueEditor } = toRefs(props);
const emit = defineEmits(["update:html", "blur"]);
const myQuillEditor = ref<any>(null);

const handelUpdateText = () => {
  if (myQuillEditor.value) {
    emit("update:html", myQuillEditor.value.getHTML());
  }
};

onMounted(() => {
  if (valueEditor) {
    myQuillEditor.value.setHTML(valueEditor.value);
  }
});

var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],
  ['blockquote', 'code-block'],
  [{ 'header': 1 }, { 'header': 2 }],
  [{ 'list': 'ordered' }, { 'list': 'bullet' }],
  [{ 'script': 'sub' }, { 'script': 'super' }],
  [{ 'indent': '-1' }, { 'indent': '+1' }],
  [{ 'direction': 'rtl' }],
  [{ 'size': ['small', false, 'large', 'huge'] }],
  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
  [{ 'color': [] }, { 'background': [] }],
  [{ 'font': [] }],
  [{ 'align': [] }],
  ['clean']
];

const options = {
  debug: "info",
  placeholder: placeholder?.value,
  readOnly: readonly.value,
  theme: "snow",
  modules: {
    toolbar: toolbarOptions
  },
};

const onReady = (editor: any) => {
  editor.focus();
}
</script>
<template>
  <QuillEditor @ready="onReady" ref="myQuillEditor" v-bind="bindEditor" class="w-full" :class="classEditor" theme="snow"
    @update:content="handelUpdateText" :options="options" @blur="emit('blur')" />
</template>
