<script setup lang="ts">
interface VSliderProps {
  disabled?: boolean;
  label?: string;
  color?: string;
  trackColor?: string;
  thumbColor?: string;
  value?: number;
  classVSlider?: string;
  readonly?: boolean;
}
const props = withDefaults(defineProps<VSliderProps>(), {
  disabled: false,
  readonly: false,
});
const {} = toRefs(props);
</script>

<template>
  <v-slider
    :readonly="readonly"
    :class="classVSlider"
    :disabled="disabled"
    :label="label"
    :color="color"
    :track-color="trackColor"
    :thumb-color="thumbColor"
    :model-value="value"
  ></v-slider>
</template>
