<script setup lang="ts">
const emit = defineEmits(["select"]);

interface VTagTodoProps {
  label: string;
  classTagTodo?: string;
  isSelect?: boolean;
  cover?: string;
  color?: string;
}
defineProps<VTagTodoProps>();
</script>

<template>
  <div class="relative" @click="emit('select')">
    <VIcon
      class="absolute right-[-4px] top-[-5px] text-[16px] z-[2]"
      v-if="isSelect"
      icon="mdi-check"
    />
    <span
      class="cursor-pointer duration-300 hover:brightness-110 inline-block items-center rounded bg-green-400 text-white px-2 text-[12px] font-[500] z-[1]"
      :class="classTagTodo"
      :style="{ backgroundColor: cover, color: color }"
    >
      {{ label }}
    </span>
  </div>
</template>
