@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "../../assets/styles/components/index";
@import "../../assets/styles/pages/index";

html,
body,
#app {
  @apply h-full w-full bg-[#FEFEFE] text-base;
  font-family: "Poppins", sans-serif !important;
  font-family: "Lato", sans-serif !important;
  height: auto;
  scroll-behavior: smooth;
}

.mapdiv *:not(i) {
  font-family: "Poppins", sans-serif !important;
  font-family: "Lato", sans-serif !important;
}

.disabled {
  @apply disabled:bg-slate-100 disabled:opacity-60;
}

.readonly {
  @apply read-only:bg-slate-100 read-only:opacity-60;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbdada;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cac8c8;
}

.dark {
  &.shadow,
  .v-btn--variant-elevated {
    box-shadow: rgb(140 141 149 / 35%) -1px 1px 4px -1px;
  }

  .v-btn {
    background-color: #cee7f6e3;
  }
}
