<script lang="ts" setup>
interface VColorPops {
  color?: string;
}
const props = withDefaults(defineProps<VColorPops>(), {
  color: "#9f8fef",
});

const { color } = toRefs(props);

import { Sketch } from "@ckpack/vue-color";

const emit = defineEmits(["update:modelValue"]);
const colors = ref("");

onMounted(() => {
  colors.value = color.value;
});
watch(
  () => colors.value,
  (value: any) => {
    emit("update:modelValue", value.hex ?? color.value);
  }
);
</script>
<template>
  <VModal :persistent="false" class-body="!p-0">
    <template #open>
      <slot name="open" />
    </template>
    <template #body>
      <Sketch v-model="colors" />
    </template>
  </VModal>
</template>
