<script lang="ts" setup>
type VDialogConfirmProps = {
  type: "delete" | "edit" | "add" | "logout";
  title: string;
};

const props = withDefaults(defineProps<VDialogConfirmProps>(), {
  type: "edit",
  title: "",
});

const { type, title } = toRefs(props);

const isOpen = ref(false);
const img = ref("");
const emit = defineEmits(["confirm"]);

const handelOpenModal = () => {
  switch (type.value) {
    case "delete":
      img.value = "/images/remove.gif";
      break;
    case "edit":
      img.value = "/images/edit.png";
      break;
    case "add":
      img.value = "/images/add.png";
      break;
    case "logout":
      img.value = "/images/logout.gif";
      break;
    default:
      break;
  }
  isOpen.value = true;
};

const handelCloseModal = () => {
  isOpen.value = false;
};

defineExpose({
  handelCloseModal,
  handelOpenModal,
});
</script>
<template>
  <VModal
    @open="(value: boolean) => (isOpen = value)"
    :is-open="isOpen"
    :persistent="false"
  >
    <template #open></template>
    <template #body>
      <div
        class="flex w-full min-w-[400px] flex-col items-center justify-center"
      >
        <div class="text-2xl font-bold">Are you sure?</div>
        <div class="text-sm text-gray-500">{{ title }}</div>
        <img :src="img" alt="" class="mt-4 h-[200px] w-[270px]" />
        <div class="flex w-full items-center justify-around">
          <VButton @click="isOpen = false" label="Cancel"></VButton>
          <VButton
            class-button="bg-red-500 text-white"
            label="Confirm"
            @click="emit('confirm')"
          ></VButton>
        </div>
      </div>
    </template>
  </VModal>
</template>
