<script lang="ts" setup>
interface VDilogTodoProps {
  isDetail?: boolean;
  isEdit?: boolean;
  isLoading?: boolean;
}

const props = defineProps<VDilogTodoProps>();
const { isDetail, isEdit, isLoading } = toRefs(props);

import { storeToRefs } from "pinia";
import { Note, Tag, Todo } from "~/home/dtos";
import { useNoteStore } from "~/home/stores/Note";
import { useForm } from "vee-validate";
import { useSnackbars } from "~/common/stores/Snackbars";
import { useOverLoading } from "~/common/stores/OverLoading";
import { vuetifyConfig } from "~/common/modules/Vuetify";
import { NoteUpdateRequest } from "~/home/dtos/NoteUpdateRequest.dto";
import { TodoUpdateRequest } from "~/home/dtos/TodoUpdateRequest.dto";
import { TagUpdateRequest } from "~/home/dtos/TagUpdateRequest.dto";
import { camelCaseKeys } from "~/common/utils/Transform";
import { useTheme } from "~/common/stores/Theme";

const validationSchema = computed(() => ({
  title: "required|min:3|max:255",
  time: "required",
}));

const form = useForm({
  initialValues: {
    title: "",
    time: [new Date(), new Date()] as Date[] | string[],
  },
  validationSchema,
});
const {
  defineComponentBinds,
  handleSubmit,
  values,
  setFieldValue,
  errors,
  resetForm,
  validate,
} = form;
const title = defineComponentBinds("title", vuetifyConfig);
const time = defineComponentBinds("time", vuetifyConfig);
const inValid = computed(() => {
  return !!(Object.keys(errors.value).length > 0);
});

const isOpen = ref(false);
const colorCover = ref<string>("#4BCE97");
const listTags = ref<Tag[]>([]);
const activeEditor = ref(false);
const activeListCheck = ref(false);
const activeEditTitle = ref(false);
const noteStore = useNoteStore();
const snackbarStore = useSnackbars();
const overLoadingStore = useOverLoading();
const { tagData, noteDetail } = storeToRefs(noteStore);
const useThemeStore = useTheme();
const { theme } = storeToRefs(useThemeStore);
const titleTodo = ref("");
const dateTodo = ref();
const description = ref<string>("");
const listItemCheck = ref<Todo[]>([]);

const handelChangeColor = (color: string) => {
  colorCover.value = color;
};

const handelUpdateTags = (tags: Tag[]) => {
  listTags.value = tags;
};

const handelCreateNewTodo = handleSubmit(async (value) => {
  await validate();
  if (inValid.value) return;
  else {
    const tags = listTags.value.map((tag) => {
      return {
        tagId: tag.tagId,
      };
    });

    const todoCheck = listItemCheck.value.map((todo, index) => {
      return {
        ...todo,
        trim: index,
      };
    });
    overLoadingStore.openOverLoading();
    const newNote = {
      title: value.title,
      timeFrom: value.time[0],
      timeTo: value.time[1],
      description: description.value,
      todos: todoCheck,
      tags,
      cover: colorCover.value,
    };
    await noteStore.postNote(newNote as unknown as Note);
    noteStore.load();
    isOpen.value = false;
    overLoadingStore.closeOverLoading();
  }
});

const handelHtmlDescription = (html: string) => {
  const descriptionContent = document.querySelector(".description-content");
  if (descriptionContent) {
    descriptionContent.innerHTML = html;
  }
  html === "<p><br></p>"
    ? (description.value = "")
    : (description.value = html);
};

const handelOpenModal = () => {
  isOpen.value = true;
};

const hanelUpdateNote = async () => {
  let todosRemove = noteDetail.value?.todos.filter((todo) => {
    return !listItemCheck.value.some((item) => item.todoUuid === todo.todoUuid);
  });
  todosRemove?.forEach((todo: TodoUpdateRequest) => {
    todo.isDelete = true;
  });

  const newTodos = [...listItemCheck.value, ...todosRemove];

  let tagsRemove = (camelCaseKeys(Tag, noteDetail.value?.tags) as Tag[]).filter(
    (tag) => {
      return !(camelCaseKeys(Tag, listTags.value) as Tag[]).some((item) => item.tagId === tag.tagId);
    }
  );

  tagsRemove?.forEach((tag: TagUpdateRequest) => {
    tag.isDelete = true;
  });
  const newTags = [...listTags.value, ...tagsRemove];

  const dataNoteUpdate = {
    title: values.title,
    timeFrom: values.time[0],
    timeTo: values.time[1],
    description: description.value,
    cover: colorCover.value,
    todos: camelCaseKeys(Todo, newTodos) as Todo[],
    tags: camelCaseKeys(Tag, newTags) as Tag[],
  };

  await validate();
  if (inValid.value) return;

  overLoadingStore.openOverLoading();
  try {
    if (noteDetail.value) {
      await noteStore.updateNote(
        noteDetail.value.noteId.toString(),
        dataNoteUpdate as NoteUpdateRequest
      );
      useSnackbars().openSnackbar("success", "Update note success");
      useNoteStore().load();
    }
  } catch (error) {
    console.log(error);
  }
  overLoadingStore.closeOverLoading();
};

watch(
  () => isLoading.value,
  (value) => {
    if (value === false && noteDetail.value && isDetail.value) {
      colorCover.value = noteDetail.value.cover;
      setFieldValue("title", noteDetail.value.title);
      setFieldValue("time", [
        noteDetail.value.timeFrom,
        noteDetail.value.timeTo,
      ]);
      listItemCheck.value = noteDetail.value.todos;
      if (noteDetail.value.todos.length > 0) activeListCheck.value = true;
      listTags.value = noteDetail.value.tags;
      description.value = noteDetail.value.description;
      nextTick(() => {
        if (noteDetail.value) {
          handelHtmlDescription(noteDetail.value.description);
        }
      });
    }
  }
);

watch(
  () => isOpen.value,
  (value) => {
    if (!value) {
      listItemCheck.value = [];
      listTags.value = [];
      description.value = "";
      activeListCheck.value = false;
      activeEditor.value = false;
      activeEditTitle.value = false;
      colorCover.value = "#4BCE97";
      resetForm();
    }
  }
);

defineExpose({
  handelOpenModal,
});
</script>
<template>
  <VModal
    @open="(value: boolean) => (isOpen = value)"
    :is-open="isOpen"
    :isNotAnimation="true"
  >
    <template #open></template>
    <template #body>
      <div
        class="flex h-[600px] w-[700px] items-center justify-center"
        v-if="isLoading"
      >
        <VProgressCircular />
      </div>
      <div v-else class="relative h-[600px] w-[700px] overflow-hidden">
        <!-- Time close New todo -->
        <div class="absolute right-0 top-0 z-[2]">
          <VButton
            @click="isOpen = false"
            icon="mdi-close"
            variant="text"
            class-button="!h-[40px] !w-[40px] text-gray-600 hover:text-gray-800 "
          />
        </div>
        <!-- Cover -->
        <div
          :style="{ backgroundColor: colorCover }"
          class="relative mb-2 h-[100px] w-full rounded"
        >
          <div class="absolute bottom-1 right-1">
            <VModalSelectColor
              :currentColor="colorCover"
              @update:color="handelChangeColor"
            />
          </div>
        </div>
        <!-- Body dialog -->
        <div
          class="flex h-[470px] items-start gap-6 overflow-x-hidden overflow-y-scroll py-2 pl-4"
        >
          <!-- Left body dialog -->
          <div class="min-w-[490px] max-w-[490px] pb-3">
            <!-- Title new todo -->
            <p
              class="flex gap-2 font-[600]"
              v-if="isDetail && !activeEditTitle"
            >
              <span>{{ values.title }}</span>
              <VButton
                icon="mdi-pencil"
                @click="activeEditTitle = true"
                variant="text"
                classButton="!w-[20px] !h-[20px] text-[12px] mr-1"
              />
            </p>
            <VTextField
              @update:focused="(value: boolean) => {if(!errors.title && value === false) activeEditTitle = false}"
              v-else
              v-bind="title"
              @value="(value: string) => (titleTodo = value)"
              prepend-inner-icon="mdi-clipboard-edit-outline"
              placeholder="Enter your title Project"
              variant="underlined"
              class-v-text-field="font-[600]"
            />
            <div class="mt-4">
              <div class="flex items-center gap-5">
                <p class="text-no-wrap text-[15px] font-[600]">Time:</p>
                <VDatePicker
                  v-bind="time"
                  @update:date="(value:any) => (dateTodo = value)"
                />
              </div>
              <div class="text-[12px] text-[#B00020]">
                {{ form.errors.value.time }}
              </div>
            </div>
            <!-- Add Tags -->
            <div class="mt-4 flex items-start gap-6">
              <p class="text-no-wrap text-[15px] font-[600]">Tags:</p>
              <div class="flex flex-col gap-1">
                <VModalSelectTag
                  :tagData="tagData"
                  :current-tags="listTags"
                  @update:tags="handelUpdateTags"
                />
                <VListItemTags :list-tags="listTags" />
              </div>
            </div>
            <!-- List Check -->
            <div v-if="activeListCheck">
              <VListCheckBox
                :list-todo="listItemCheck"
                @update:list-todo="(value) => (listItemCheck = value)"
              />
            </div>
            <!-- Description Todo -->
            <div class="mt-4 w-full gap-6" v-if="activeEditor">
              <p class="text-no-wrap text-[15px] font-[600]">Description:</p>
              <div class="mt-3">
                <VEditor
                  :valueEditor="description"
                  @update:html="handelHtmlDescription"
                  placeholder="Enter you description doto"
                  @blur="activeEditor = false"
                />
              </div>
            </div>
            <div
              class="mt-4 w-full gap-6"
              v-show="(!activeEditor || (isDetail && isLoading)) && description"
            >
              <p class="text-no-wrap text-[15px] font-[600]">Description:</p>
              <div
                class="description-content ql-editor"
                @click="activeEditor = true"
              ></div>
            </div>
          </div>
          <!-- Right body dialog -->
          <div class="h-full min-w-[170px] py-2 pr-2">
            <div class="w-full">
              <p class="mb-2 text-[15px] font-[600]">Function</p>
              <VButton
                @click="activeListCheck = !activeListCheck"
                prepend-icon="mdi-checkbox-marked-outline"
                label="List check"
                class="w-full"
                :class-button="`${activeListCheck ? 'bg-gray-200' : ''}`"
              />
              <VButton
                @click="activeEditor = !activeEditor"
                prepend-icon="mdi-exclamation"
                label="Description"
                class="mt-3 w-full"
                :class-button="`${activeEditor ? 'bg-gray-200' : ''}`"
              />
            </div>
          </div>
        </div>
      </div>
    </template>
    <template #close>
      <div class="flex items-center justify-end gap-3 pt-5">
        <VButton @click="isOpen = false" label="Cancel" />
        <VButton
          v-if="isDetail"
          @click="hanelUpdateNote"
          label="Update"
          :style="{ backgroundColor: colorCover }"
          class-button="bg-[#a862e9] text-white"
          :disabled="inValid"
        />
        <VButton
          v-else
          @click="handelCreateNewTodo"
          label="Create"
          :style="{ backgroundColor: colorCover }"
          class-button="bg-[#a862e9] text-white"
          :disabled="inValid"
        />
      </div>
    </template>
  </VModal>
</template>
