<script setup lang="ts">
const modelValue = ref("");
const emit = defineEmits(["update:modelValue"]);

watch(
  () => modelValue.value,
  (value) => {
    emit("update:modelValue", value);
  }
);
</script>
<template>
  <v-otp-input
    type="text"
    @finish="(value: string) => (modelValue = value)"
    variant="filled"
  ></v-otp-input>
</template>
