<script setup lang="ts"></script>

<template>
  <div class="flex w-[70px]">
    <div class="flex-column relative flex w-full gap-6">
      <div
        class="relative mt-2 flex h-[40px] w-full items-center justify-center rounded-br-[20px]"
      >
        <img src="/images/logo.svg" alt="" />
      </div>
      <div class="relative flex w-full flex-col items-end">
        <div class="item-function__custom"></div>
        <div
          class="flex-column py-15 flex w-[60px] gap-6 rounded-bl-[110px] rounded-tl-[110px] "
        >
          <VButtonHeader param="/" img="/images/edit.svg" />
          <VButtonHeader param="/music" img="/images/music.svg" />
        </div>
        <div class="item-function__custom"></div>
      </div>
    </div>
  </div>
</template>
