<script setup lang="ts">
import { storeToRefs } from "pinia";
import { HeaderFunction } from "~/common/constants/HeaderFunction";
import { useTheme } from "~/common/stores/Theme";

const router = useRouter();
const useThemeStore = useTheme();
const { theme } = storeToRefs(useThemeStore);

const labelHeader = computed(() => {
  const paramRouter = router.currentRoute.value.name;
  if (paramRouter) {
    if (paramRouter === "index") return "Note";
    else return paramRouter.toString().split("-").join(" ");
  }
});

const listFunctionHeader = computed(() => {
  const paramRouter = router.currentRoute.value.path.split("/")[1].toString();
  if (paramRouter) {
    return HeaderFunction[paramRouter];
  } else return HeaderFunction.note;
});

const currentRoute = computed(() => {
  return router.currentRoute.value.path;
});
</script>
<template>
  <div
    class="h-full w-[250px] py-[10px] shadow"
    :class="theme ? 'bg-[#1A1A1A]' : ''"
  >
    <h3
      class="px-[20px] text-[22px] font-[700] capitalize"
      :class="theme ? 'text-white' : ''"
    >
      {{ labelHeader }}
    </h3>
    <div
      class="mt-3 flex h-full flex-col justify-between border-r-[1px] border-t-[1px] border-[#dbdbddd0] px-[15px] py-6 shadow"
      :class="theme ? 'border-r-[1px] !border-[#73727270] text-white' : ''"
    >
      <div>
        <div v-for="item in listFunctionHeader.function" :key="item.id">
          <div
            class="item-header__function flex cursor-pointer items-center gap-4 rounded-lg px-2 py-3"
            :class="[
              currentRoute === item.path ? 'active' : '',
              theme ? 'dark' : '',
            ]"
            @click="$router.replace(item.path)"
          >
            <VIcon size="small" :icon="item.icon" />
            <span>{{ item.name }}</span>
          </div>
        </div>
      </div>
      <div class="flex items-center gap-2 pb-5">
        <VIcon
          size="x-large"
          icon="mdi-weather-sunny"
          :class="!theme ? 'text-yellow-400' : 'text-gray-500'"
          @click="() => useThemeStore.changeTheme(false)"
        />
        <VSwitch
          :value="theme"
          class="switch-theme"
          inset
          @click="() => useThemeStore.changeTheme()"
        />
        <VIcon
          :class="theme ? 'text-yellow-400' : 'text-gray-500'"
          size="large"
          icon="mdi-weather-night"
          @click="() => useThemeStore.changeTheme(true)"
        />
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
:deep(.v-switch).v-input {
  flex: 0 0 auto !important;
}
</style>
