<script lang="ts" setup>
import { Note, Todo } from "~/home/dtos";
import { format } from "date-fns";
import { DATE_FORMAT, TIME_FORMAT } from "~/common/constants/Datetime";
import { DATETIME_FORMAT } from "~/common/constants/Datetime";
import { TodoStatus } from "~/common/constants/Enums";
import { NoteUtil } from "~/common/utils/Note";
import dayjs from "dayjs";
import VDialogTodo from "./VDialogTodo.vue";
import { useNoteStore } from "~/home/stores/Note";
import { useSnackbars } from "~/common/stores/Snackbars";
import VDialogConfirm from "./VDialogConfirm.vue";

interface VItemTodoProps {
  note: Note;
}
const props = defineProps<VItemTodoProps>();
const { note } = toRefs(props);

const noteStore = useNoteStore();
const snackbarStore = useSnackbars();

const modalTodoDetail = ref<InstanceType<typeof VDialogTodo>>();
const modalConfirm = ref<InstanceType<typeof VDialogConfirm>>();
const noteUtils = NoteUtil.getInstance();
const timeWill = ref("");
const timeTitle = ref("");
const iconTime = ref("");
const classIconTime = ref("");
const percentTodo = ref(0);
const classIconBell = ref("");
const iconBell = ref("");
const classTimeTitle = ref("");
const isLoadingDetail = ref(false);

/**
 * Handel check, format time and get percent todo
 */
watch(
  () => note.value,
  () => {
    const timeFrom = new Date(note.value.timeFrom);
    const timeTo = new Date(note.value.timeTo);
    const today = dayjs();
    const startDay = dayjs(timeFrom);
    const endDay = dayjs(timeTo);
    const checkDay = startDay.isSame(today, "day");
    const checkMonth = startDay.isSame(today, "month");
    const checkYear = startDay.isSame(today, "year");

    if (checkDay && checkMonth && checkYear) {
      iconTime.value = "mdi-progress-check";
      classIconTime.value = "text-[#4ace69]";

      if (timeTo.getDay() !== timeFrom.getDay()) {
        timeTitle.value = `Today - ${format(timeTo, DATE_FORMAT)}`;
        timeWill.value = `${format(timeFrom, TIME_FORMAT)} - ${format(
          timeTo,
          DATETIME_FORMAT
        )}`;
      } else {
        timeTitle.value = "Today";
        timeWill.value = `${format(timeFrom, TIME_FORMAT)} - ${format(
          timeTo,
          TIME_FORMAT
        )}`;
      }
    } else {
      const isTodayBetweenTimeRange =
        today.isAfter(startDay) && today.isBefore(endDay);

      if (isTodayBetweenTimeRange) {
        timeTitle.value = `Today - ${format(timeTo, DATE_FORMAT)}`;
        classIconTime.value = "text-[#4ace69]";
        iconTime.value = "mdi-progress-check";
      } else {
        timeTitle.value = format(timeFrom, DATE_FORMAT);
        iconTime.value = "mdi-timer-edit-outline";
        classIconTime.value = "text-[#8e8d8d]";
      }
      timeWill.value = `${format(timeFrom, DATETIME_FORMAT)} - ${format(
        timeTo,
        DATETIME_FORMAT
      )}`;
    }

    if (note.value.todos.length > 0) {
      const listTodosCheck = note.value.todos.filter(
        (todo) => todo.status === TodoStatus.Done
      );
      const percent = noteUtils.getPercent(listTodosCheck, note.value.todos);
      percentTodo.value = percent;

      if (percent < 100 && today.isAfter(endDay)) {
        classIconBell.value = "text-[#db3636] ml-1";
        iconBell.value = "mdi-bell-ring-outline";
        classTimeTitle.value = "text-[#db3636]";
      }
    }
  },
  { immediate: true, deep: true }
);

const openModalDetail = async () => {
  isLoadingDetail.value = true;
  modalTodoDetail.value?.handelOpenModal();
  await noteStore.loadNote(note.value.noteId);
  isLoadingDetail.value = false;
};

const openModalRemove = () => {
  modalConfirm.value?.handelOpenModal();
};

const handelRemoveTodo = async () => {
  try {
    await noteStore.removeNote({ idNote: note.value.noteId.toString() });
    await noteStore.load();
    modalConfirm.value?.handelCloseModal();
  } catch (error) {
    snackbarStore.openSnackbar("error", "Delete todo fail");
  }
};
</script>
<template>
  <div
    class="item-todo__container relative min-w-[370px] max-w-[370px] flex-1 cursor-pointer rounded-lg bg-white shadow"
    @click="openModalDetail"
  >
    <!-- Menu todo -->
    <div class="absolute right-2 top-1">
      <VMenus
        icon="mdi-unfold-more-vertical"
        class-button="!w-[25px] !h-[25px] text-[13px]"
        :items="[
          {
            label: 'Edit',
            icon: 'mdi-view-dashboard-edit-outline',
            open: openModalDetail,
          },
          {
            label: 'Delete',
            icon: 'mdi-book-remove-outline',
            open: openModalRemove,
          },
        ]"
      />
    </div>
    <!-- Cover -->
    <div
      :style="{ backgroundColor: `${note.cover} !important` }"
      class="h-[55px] w-full rounded-tl-[8px] rounded-tr-[8px] bg-[#4BCE97]"
    ></div>
    <div class="p-4">
      <!-- Date time -->
      <div class="flex items-center gap-1">
        <VIcon :icon="iconTime" :class-icon="classIconTime" size="small" />
        <span
          :class="classIconBell"
          class="text-[13px] font-[600] text-[#3e3d3d]"
          >{{ timeTitle }}</span
        >
        <VIcon
          v-if="note.todos.length > 0 && percentTodo < 100"
          :icon="iconBell"
          :class-icon="classIconBell"
          class="icon-bell__title"
          size="small"
        />
      </div>
      <!-- List tag todo -->

      <VListItemTags :list-tags="note.tags" />

      <!-- Title todo -->
      <div class="mt-1">
        <span class="text-[17px] font-[600]">{{ note.title }}</span>
      </div>
      <!-- Percent task complete -->
      <div v-if="note.todos.length > 0">
        <p
          class="flex translate-y-2 transform justify-end text-[13px] font-[600]"
        >
          {{ percentTodo }}%
        </p>
        <VSliders :readonly="true" :value="percentTodo" color="#a862e9" />
      </div>
      <!-- Description todo ( time ) -->
      <div class="mt-2 flex items-start justify-between">
        <span class="text-[12px]">{{ timeWill }}</span>
        <span class="text-[13px] font-[600]">Priority: Hard</span>
      </div>
    </div>
  </div>
  <VDialogTodo ref="modalTodoDetail" is-detail :is-loading="isLoadingDetail" />
  <VDialogConfirm
    @confirm="handelRemoveTodo"
    ref="modalConfirm"
    type="delete"
    title="Are you sure you want to delete this note?"
  />
</template>
