<script lang="ts" setup>
import { Todo } from "~/home/dtos";
import { generateUniqueId } from "../../constants/Uuid";

interface VListCheckBoxProps {
  listTodo?: Todo[];
}
const props = defineProps<VListCheckBoxProps>();
const { listTodo } = toRefs(props);

const listItemCheck = ref<Todo[]>([]);
const listCheck = ref<Todo[]>([]);
const activeAddiem = ref(false);
const activeEditiem = ref(false);
const valueInputCheck = ref<string>("");
const valueInputEdit = ref<string>("");
const idEditCheck = ref<string>("");
const emit = defineEmits(["update:listTodo"]);

/**
 * Get percent and list item checkbox active
 */
const percentTodo = computed(() => {
  return Math.floor(
    (listCheck.value.length * 100) / listItemCheck.value.length
  );
});

watch(
  () => listTodo?.value,
  (value) => {
    listItemCheck.value = value || [];
    const listCheckActive = value?.filter((item) => item.status === 1) || [];
    listCheck.value = listCheckActive;
  }, { immediate: true }
);

watch(
  () => listItemCheck.value,
  (value) => {
    emit("update:listTodo", value);
  }
);

/**
 * Get value input item check
 * @param value
 */
const handelChangeValue = (value: string) => {
  valueInputCheck.value = value;
};

const handelChangeValueEdit = (value: string) => {
  valueInputEdit.value = value;
};

const handelCheckBox = (value: Todo) => {
  if (value.status === 0) {
    listCheck.value = listCheck.value.filter(
      (ItemValue) => ItemValue.todoUuid !== value.todoUuid
    );
  } else {
    const checkValue = listCheck.value.find(
      (ItemValue) => ItemValue.todoUuid === value.todoUuid
    );
    if (!checkValue) {
      listCheck.value = [...listCheck.value, value];
    }
  }
};

const handelUpdateItem = () => {
  if (!valueInputEdit.value) {
    return;
  }
  const listItemCheckUpdate = findUpdateItem(listItemCheck.value);
  const listCheckUpdate = findUpdateItem(listCheck.value);

  listItemCheck.value = listItemCheckUpdate;
  listCheck.value = listCheckUpdate;

  
  activeEditiem.value = false;
  valueInputEdit.value = "";
}

const findUpdateItem = (listItem: Todo[]) => {
  const listCheckUpdate = listItem.map((checkItem) => {
    if (checkItem.todoUuid === idEditCheck.value) {
      return {
        ...checkItem,
        label: valueInputEdit.value,
      };
    }
    return checkItem;
  });

  return listCheckUpdate
}

/**
 * Add new item
 */
const handelAddItem = () => {
  if (!valueInputCheck.value) {
    return;
  }
  const newItem = {
    todoUuid: generateUniqueId(),
    label: valueInputCheck.value,
    status: 0,
  };
  listItemCheck.value = [...listItemCheck.value, newItem];
  activeAddiem.value = false;
  valueInputCheck.value = "";
};

/**
 *
 * @param item Remove item
 */
const handelRemoveCheck = (id: string) => {
  const listCheckRemain = listItemCheck.value.filter(
    (checkItem) => checkItem.todoUuid?.toString() !== id
  );

  const itemCheckRemove = listCheck.value.filter(
    (checkItem) => checkItem.todoUuid?.toString() !== id
  );

  listItemCheck.value = listCheckRemain;
  listCheck.value = itemCheckRemove;
};

const handeActiveEditCheck = (id: string) => {
  activeEditiem.value = true;
  idEditCheck.value = id;
  const itemEdit = listItemCheck.value.find(
    (checkItem) => checkItem.todoUuid?.toString() === id
  );

  valueInputEdit.value = itemEdit?.label || "";

}

const handelUpdateDraggle = (listItem: Todo[]) => {
  console.log(listItem);
  
  listItemCheck.value = listItem;
};
</script>
<template>
  <div class="list-check__container mt-4">
    <p class="text-no-wrap text-[15px] font-[600]">List Check:</p>
    <div class="mt-1 flex flex-col">
      <!-- List check box -->
      <div v-if="listItemCheck.length > 0">
        <!-- Slider percent todo -->
        <div>
          <p class="flex translate-y-2 transform justify-end text-[15px] font-[600]">
            {{ percentTodo }}%
          </p>
          <VSliders :readonly="true" :value="percentTodo" color="#a862e9" />
        </div>
        <VDraggable :items="listItemCheck" @update:items="handelUpdateDraggle">
          <template #item="item">
            <div :key="item.value.todoUuid"
              class="flex items-center justify-between rounded transition hover:bg-slate-100"
              :class="item.value.todoUuid === idEditCheck ? 'bg-slate-200' : ''">
              <VCheckbox class="checkbox-todo__item" :label="item.value.label" :value="item"
                @update:value="handelCheckBox" />
              <div class="flex items-center">
                <VButton v-if="!activeAddiem && !activeEditiem" icon="mdi-pencil" variant="text"
                  classButton="!w-[20px] !h-[20px] text-[12px] mr-1" @click="handeActiveEditCheck(item.value.todoUuid)" />
                <VButton v-if="!activeEditiem" icon="mdi-close" variant="text"
                  classButton="!w-[20px] !h-[20px] text-[12px] mr-1" @click="handelRemoveCheck(item.value.todoUuid)" />
              </div>
            </div>
          </template>
        </VDraggable>
      </div>
      <!-- Function active add item -->
      <div v-if="!activeAddiem && !activeEditiem" class="mt-3 pl-7">
        <VButton label="Add an item" class="bg-slate-500 text-white" @click="activeAddiem = true" />
      </div>
      <div v-else class="mt-1 pl-1">
        <VTextField v-if="activeEditiem" :default-value="valueInputEdit" classVTextField="!text-[12px]"
          variant="underlined" placeholder="Enter value edit item" prependInnerIcon="mdi-vector-point-edit"
          :autofocus="true" @value="handelChangeValueEdit" @keyup.enter="handelUpdateItem" />
        <VTextField v-if="activeAddiem" classVTextField="!text-[12px]" variant="underlined" placeholder="Add item check"
          prependInnerIcon="mdi-vector-point-edit" :autofocus="true" @value="handelChangeValue"
          @keyup.enter="handelAddItem" />
        <div class="mt-4 flex items-center gap-2">
          <v-button label="Cancel" class="!h-[30px]" @click="() => {
            activeAddiem = false
            activeEditiem = false
            idEditCheck = ''
          }" />
          <v-button v-if="activeEditiem" label="Update" class="!h-[30px] bg-slate-500 text-white"
            @click="handelUpdateItem" />
          <v-button v-if="activeAddiem" label="Add" class="!h-[30px] bg-slate-500 text-white" @click="handelAddItem" />
        </div>
      </div>
    </div>
  </div>
</template>
