<script lang="ts" setup>
import { useForm } from "vee-validate";
import { vuetifyConfig } from "~/common/modules/Vuetify";
import { Note, Tag } from "~/home/dtos";
import { OverView } from "~/common/constants/OverView";
import { useOverLoading } from "~/common/stores/OverLoading";
import { camelCaseKeys } from "~/common/utils/Transform";
import dayjs from "dayjs";
import { VIcon } from "vuetify/lib/components/index.mjs";
import { useTheme } from "~/common/stores/Theme";
import { storeToRefs } from "pinia";
import { Rive } from "@rive-app/canvas";

interface VListItemTodoProps {
  noteData: Note[];
  tagData: Tag[];
  isLoading: boolean;
}
const props = defineProps<VListItemTodoProps>();
const { noteData } = toRefs(props);

const form = useForm({
  initialValues: {
    title: "",
    deadline: "",
  },
});

const { resetForm, values, defineComponentBinds } = form;
const title = defineComponentBinds("title", vuetifyConfig);
const deadline = defineComponentBinds("deadline", vuetifyConfig);

const useOverLoadingStore = useOverLoading();
const currentNoteData = ref<Note[]>(noteData.value);
const overView = ref<String>("");
const currentTags = ref<Tag[]>([]);
const timeOuteSearch = ref<ReturnType<typeof setTimeout>>();
const sortNote = ref("");
const useThemeStore = useTheme();
const { theme } = storeToRefs(useThemeStore);

const handelSelectTags = (tags: Tag[]) => {
  currentTags.value = tags;
};

watch(
  () => noteData.value,
  (value) => {
    currentNoteData.value = value;
    if (
      values.title ||
      values.deadline ||
      currentTags.value.length > 0 ||
      overView.value
    ) {
      filterNote([
        values.title,
        values.deadline,
        currentTags.value,
        overView.value,
      ]);
    }
    sortNote.value && handelSort(sortNote.value, false);
  }
);

const handelActiveOverview = (type: string) => {
  switch (type) {
    case "Todo":
      overView.value === "Todo"
        ? (overView.value = "")
        : (overView.value = "Todo");
      break;
    case "In progress":
      overView.value === "In progress"
        ? (overView.value = "")
        : (overView.value = "In progress");
      break;
    case "Done":
      overView.value === "Done"
        ? (overView.value = "")
        : (overView.value = "Done");
      break;
    case "Late":
      overView.value === "Late"
        ? (overView.value = "")
        : (overView.value = "Late");
      break;
  }
};

const filterNote = (valueSearh: any[]) => {
  const noteSearch = noteData.value.filter((note) => {
    const today = dayjs();
    const timeTo = new Date(note.timeTo);
    const timeFrom = new Date(note.timeFrom);
    const startDay = dayjs(timeFrom);
    const endDay = dayjs(timeTo);
    // Search with title
    const title = note.title
      .toLowerCase()
      .includes(valueSearh[0].toLowerCase());

    // Search with deadline
    const timeFromSearch =
      valueSearh[1] && valueSearh[1].length && new Date(valueSearh[1][0]);
    const timeToSearch =
      valueSearh[1] && valueSearh[1].length && new Date(valueSearh[1][1]);
    const startDaySearch = dayjs(timeFromSearch);
    const endDaySearch = dayjs(timeToSearch);
    const dealineFrom = valueSearh[1]
      ? startDay.isAfter(startDaySearch) || startDay.isSame(startDaySearch)
      : true;
    const dealineTo =
      valueSearh[1] && valueSearh[1][1]
        ? endDay.isBefore(endDaySearch) || endDay.isSame(endDaySearch)
        : true;

    // Search with tags
    const noteTagList = camelCaseKeys(Tag, note.tags) as Tag[];
    const arrNoteTagList = noteTagList.map((item) => item.tagId);
    const arrSearchTag = (
      camelCaseKeys(Tag, toRaw(valueSearh[2])) as Tag[]
    ).map((item: Tag) => item.tagId);

    const tags =
      valueSearh[2].length > 0
        ? arrSearchTag.every((element) => arrNoteTagList.includes(element))
        : noteTagList;

    // Search with Overview
    let overView: boolean = true;
    switch (valueSearh[3]) {
      case "Todo":
        overView = note.todos.length === 0;
        break;
      case "In progress":
        overView = today.isAfter(startDay) && today.isBefore(endDay);
        today.isAfter(startDay) && today.isBefore(endDay);
        break;
      case "Done":
        overView =
          note.todos.filter((todo) => todo.status === 0).length === 0 &&
          note.todos.length > 0;
        break;
      case "Late":
        overView =
          note.todos.filter((todo) => todo.status === 0).length > 0 &&
          today.isAfter(endDay);
        break;
      default:
        overView = true;
    }

    return title && dealineFrom && dealineTo && tags && overView;
  });
  currentNoteData.value = noteSearch;
};

const handelResetSearch = () => {
  resetForm();
  currentTags.value = [];
  overView.value = "";
  handelSort(sortNote.value, false);
};

const handelSort = (typeSort: string, isReset: boolean = true) => {
  switch (typeSort) {
    case "nameIncrease":
      if (sortNote.value === "nameIncrease" && isReset) {
        sortNote.value = "";
        originSortNote();
        break;
      } else {
        sortNote.value = "nameIncrease";
        currentNoteData.value.sort((a, b) => a.title.localeCompare(b.title));
        break;
      }
    case "nameDecrease":
      if (sortNote.value === "nameDecrease" && isReset) {
        sortNote.value = "";
        noteData.value;
        originSortNote();
        break;
      } else {
        sortNote.value = "nameDecrease";
        currentNoteData.value.sort((a, b) => b.title.localeCompare(a.title));
        break;
      }
    case "dateIncrease":
      if (sortNote.value === "dateIncrease" && isReset) {
        sortNote.value = "";
        originSortNote();
        break;
      } else {
        sortNote.value = "dateIncrease";
        currentNoteData.value.sort(
          (a, b) =>
            new Date(a.timeFrom).getTime() - new Date(b.timeFrom).getTime()
        );
        break;
      }
    case "dateDecrease":
      if (sortNote.value === "dateDecrease" && isReset) {
        sortNote.value = "";
        originSortNote();
        break;
      } else {
        sortNote.value = "dateDecrease";
        currentNoteData.value.sort(
          (a, b) =>
            new Date(b.timeFrom).getTime() - new Date(a.timeFrom).getTime()
        );
        break;
      }
  }
};

const originSortNote = () => {
  currentNoteData.value.sort(
    (a, b) => new Date(b.createdAt).getTime() - new Date(a.createdAt).getTime()
  );
};

watch(
  () => [values.title, values.deadline, currentTags.value, overView.value],
  (value) => {
    clearTimeout(timeOuteSearch.value);
    timeOuteSearch.value = setTimeout(() => {
      filterNote(value);
      sortNote.value && handelSort(sortNote.value, false);
    }, 300);
  }
);
</script>

<template>
  <div class="h-full">
    <!-- List item todo -->
    <div
      class="flex h-full w-full items-center justify-center"
      v-if="isLoading"
    >
      <VProgressCircular />
    </div>
    <div v-else>
      <!-- Background -->
      <div
        class="bg-red h-[160px] w-full bg-cover"
        style="background-image: url('/images/background.png')"
      >
        <div class="flex h-full w-full flex-col justify-end gap-1 p-8">
          <p class="text-[13px] font-[600]">Note / My Project</p>
          <h2 class="text-[30px] font-[600]">My Project</h2>
        </div>
      </div>
      <div class="mt-2 p-4 pt-2">
        <!-- Search Todo -->
        <div class="mb-5 flex items-start justify-between">
          <div class="flex flex-col gap-2">
            <div class="flex items-center justify-start">
              <p class="w-[100px] text-[15px] text-gray-500">Title:</p>
              <VTextField
                placeholder="Enter your title note"
                class="filed-search__todo"
                variant="underlined"
                v-bind="title"
              />
            </div>
            <div class="flex items-center justify-start">
              <p class="min-w-[100px] text-[15px] text-gray-500">Deadline:</p>
              <VDatePicker class="datepicker-search__todo" v-bind="deadline" />
            </div>
            <div class="flex items-center justify-start">
              <p class="w-[100px] text-[15px] text-gray-500">Tags:</p>
              <div>
                <VModalSelectTag
                  :current-tags="currentTags"
                  :tagData="tagData"
                  @update:tags="handelSelectTags"
                />
              </div>
              <div class="ml-3 flex gap-2">
                <div v-for="(tag, index) in currentTags">
                  <VTag :key="index" :label="tag.label" :cover="tag.cover" />
                </div>
              </div>
            </div>
            <div class="flex items-center justify-start">
              <p class="w-[100px] text-[15px] text-gray-500">Over view:</p>
              <div class="grid grid-cols-4 gap-3">
                <VButton
                  v-for="overViewItem in OverView"
                  :key="overViewItem.label"
                  :label="overViewItem.label"
                  :prepend-icon="overViewItem.icon"
                  :class-button="overViewItem.color"
                  :active="overView === overViewItem.label ? true : false"
                  @click="handelActiveOverview(overViewItem.label)"
                />
              </div>
            </div>
          </div>
          <div class="flex gap-3">
            <VButton
              v-if="
                values.title ||
                values.deadline ||
                currentTags.length ||
                overView
              "
              label="Clear Filter"
              prepend-icon="mdi-close"
              class-button="text-white bg-red"
              @click="handelResetSearch"
            />
            <div class="flex items-center gap-2">
              <span class="text-[15px] text-gray-500">Sort:</span>
              <VButton
                class-button="!px-[10px]"
                @click="handelSort('nameIncrease')"
                :active="sortNote === 'nameIncrease'"
              >
                <template #image>
                  <VIcon
                    class="text-gray-500"
                    icon="mdi-sort-alphabetical-ascending"
                  />
                </template>
              </VButton>
              <VButton
                class-button="!px-[10px]"
                @click="handelSort('nameDecrease')"
                :active="sortNote === 'nameDecrease'"
              >
                <template #image>
                  <VIcon
                    class="text-gray-500"
                    icon="mdi-sort-alphabetical-descending"
                  />
                </template>
              </VButton>
              <VButton
                class-button="!px-[10px]"
                @click="handelSort('dateIncrease')"
                :active="sortNote === 'dateIncrease'"
              >
                <template #image>
                  <VIcon
                    class="text-gray-500"
                    icon="mdi-sort-calendar-ascending"
                  />
                </template>
              </VButton>
              <VButton
                class-button="!px-[10px]"
                @click="handelSort('dateDecrease')"
                :active="sortNote === 'dateDecrease'"
              >
                <template #image>
                  <VIcon
                    class="text-gray-500"
                    icon="mdi-sort-calendar-descending"
                  />
                </template>
              </VButton>
            </div>
          </div>
        </div>
        <div
          v-if="currentNoteData.length === 0"
          class="flex flex-col items-center justify-center mt-10"
        >
          <img class="w-[20%]" src="/images/not_found.gif" alt="" />
          <p class="pt-3 text-[20px] text-gray-500">Not found note</p>
        </div>
        <div v-else class="flex flex-wrap gap-4">
          <div v-for="(todo, index) in currentNoteData">
            <VItemTodo :key="index" :note="todo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
