<script lang="ts" setup>
import { Tag } from "~/home/dtos";

interface VListItemTagsProp {
  listTags?: Tag[];
}
defineProps<VListItemTagsProp>();
</script>
<template>
  <div v-if="listTags && listTags.length > 0" class="mt-2 flex flex-wrap gap-2">
    <VTag
      v-for="tag in listTags"
      :key="tag.tagId"
      :cover="tag.cover"
      :label="tag.label"
    />
  </div>
</template>
