<script setup lang="ts">
import VDialogNewTodo from './VDialogTodo.vue';
import VModalNewTag from './VModalNewTag.vue';

const modalNewTodo = ref<InstanceType<typeof VDialogNewTodo>>();
const modalNewTag = ref<InstanceType<typeof VModalNewTag>>();

const handelOpenNewTodo = () => {
  modalNewTodo.value?.handelOpenModal()
}

const handelOpenNewTag = () => {
  modalNewTag.value?.handelOpenModal()
}

</script>
<template>
  <div class="absolute bottom-4 right-5 z-10">
    <VMenus class-button="!w-[65px] !h-[65px] text-[13px] rounded-[50%] overflow-hidden flex items-center justify-center"
      :items="[{ icon: 'mdi-pencil-plus-outline', label: 'New Todo', open: handelOpenNewTodo },
      { icon: 'mdi-tag-plus-outline', label: 'Manage Tags', open: handelOpenNewTag }]">
      <template #image>
        <img src="/images/add_icon.gif" alt="" class="h-[170px] min-w-[215px] rounded-[50%]" />
      </template>
    </VMenus>
  </div>
  <!-- Modal create new Todo -->
  <VDialogTodo ref="modalNewTodo" />
  <!-- Modal creat new Tag -->
  <VModalNewTag ref="modalNewTag" />
</template>
