<script setup lang="ts">
import { useForm } from "vee-validate";
import { User } from "~/auth/dtos";
import { useAuthStore } from "~/auth/stores/Auth";
import { vuetifyConfig } from "~/common/modules/Vuetify";
import { useOverLoading } from "~/common/stores/OverLoading";
import { useSnackbars } from "~/common/stores/Snackbars";

interface VModalProfileProps {
  isOpen?: boolean;
  isLoading: boolean;
  user?: User;
}
const props = defineProps<VModalProfileProps>();
const { isOpen, user } = toRefs(props);
const emit = defineEmits(["open"]);

const isEdit = ref(false);
const isUpdatePassword = ref(false);

const validationSchema = computed(() => ({
  fullName: `${!isUpdatePassword ? "required" : ""}`,
  currentPassword: `${!isEdit.value ? "required|min:8" : ""}`,
  newPassword: `${!isEdit.value ? "required|min:8" : ""}`,
  confirmPassword: `${!isEdit.value ? "required|min:8|confirmed:@newPassword" : ""}`,
}));

const form = useForm({
  initialValues: {
    fullName: "" as string | undefined,
    currentPassword: "",
    newPassword: "",
    confirmPassword: "",
  },
  validationSchema,
});

const {
  values,
  defineComponentBinds,
  validate,
  errors,
  resetForm,
  setFieldValue,
} = form;
const fullName = defineComponentBinds("fullName", vuetifyConfig);
const currentPassword = defineComponentBinds("currentPassword", vuetifyConfig);
const newPassword = defineComponentBinds("newPassword", vuetifyConfig);
const confirmPassword = defineComponentBinds("confirmPassword", vuetifyConfig);

const background = ref();
const avatar = ref();
const useAuth = useAuthStore();
const useOverloadingStore = useOverLoading();
const useSnackbarsStore = useSnackbars();

const handelConvertImg = (type: string, idHTML: string, files: any) => {
  const selectedFile = files[0];
  const reader = new FileReader();

  const imgtag: any = document.getElementById(idHTML);

  if (imgtag) {
    imgtag.title = selectedFile.name;

    reader.onload = function (event) {
      imgtag.src = event.target?.result;
    };
  }

  reader.readAsDataURL(selectedFile);
  reader.addEventListener("load", (e) => {
    switch (type) {
      case "avatar":
        avatar.value = e.target?.result;
        break;
      case "background":
        background.value = e.target?.result;
        break;
    }
  });
};

const handelCancelBackground = () => {
  background.value = null;
  const imgtag: any = document.getElementById("backgroundField");
  if (imgtag) {
    imgtag.src = user?.value?.background;
  }
};

const handelCancelAvatar = () => {
  avatar.value = null;
  const imgtag: any = document.getElementById("avatarField");
  if (imgtag) {
    imgtag.src = user?.value?.avatar;
  }
};

const handelUploadBackground = async () => {
  if (background.value) {
    useOverloadingStore.openOverLoading();
    try {
      await useAuth.uploadBackground({ url: background.value });
      await useAuth.getUser();
      background.value = null;
      useSnackbarsStore.openSnackbar("success", "Upload background success");
    } catch (error) {
      console.log(error);
    }
    useOverloadingStore.closeOverLoading();
  }
};

const handelUploadAvatar = async () => {
  if (avatar.value) {
    useOverloadingStore.openOverLoading();
    try {
      await useAuth.uploadAvatar({ url: avatar.value });
      await useAuth.getUser();
      avatar.value = null;
      useSnackbarsStore.openSnackbar("success", "Upload avatar success");
    } catch (error) {
      console.log(error);
    }
    useOverloadingStore.closeOverLoading();
  }
};

const handelUpdateProfile = async () => {
  await validate();
  if (Object.keys(errors.value).length > 0) return;
  else {
    useOverloadingStore.openOverLoading();
    try {
      if (user?.value) {
        await useAuth.updateProfile({
          ...user.value,
          fullName: values.fullName,
        });
        await useAuth.getUser();
        resetForm();
        isEdit.value = false;
        useSnackbarsStore.openSnackbar("success", "Update profile success");
      }
    } catch (error) {
      console.log(error);
    }
    useOverloadingStore.closeOverLoading();
  }
};

const handelUpdatePassword = async () => {
  await validate();
  if (Object.keys(errors.value).length > 0) return;
  else {
    if (user && user.value && user.value.id) {
      useOverloadingStore.openOverLoading();
      try {
        const result: any = await useAuth.updatePassword({
          userId: user.value.id.toString(),
          currentPassword: values.currentPassword,
          newPassword: values.newPassword,
        });
        if (result) {
          useSnackbarsStore.openSnackbar("success", "Update password success");
          resetForm();
          isUpdatePassword.value = false;
        } 
      } catch (error) {
        console.log(error);
      }
      useOverloadingStore.closeOverLoading();
    }
  }
};
</script>
<template>
  <VModal
    @open="(value: boolean) => (emit('open', value))"
    :is-open="isOpen"
    :persistent="(background || avatar || isEdit || isUpdatePassword) ?? false"
    width="50%"
  >
    <template #body>
      <div v-if="!isLoading">
        <div>
          <div class="relative">
            <img
              id="backgroundField"
              class="h-[200px] w-full rounded object-cover"
              :src="user?.background"
              alt=""
            />
            <VUploadFile
              @update:model-value="
                (value) =>
                  handelConvertImg('background', 'backgroundField', value)
              "
              class="absolute bottom-0 right-0 z-[2] !h-[40px] !w-[40px] translate-x-[-10px] translate-y-[-10px] text-gray-400 transition-all hover:text-gray-500"
            />
          </div>
          <div class="flex -translate-y-10 items-center justify-between px-8">
            <div class="flex items-center gap-3">
              <div class="relative rounded-full bg-white p-1">
                <img
                  :src="user?.avatar"
                  alt=""
                  id="avatarField"
                  class="h-[100px] w-[100px] rounded-full object-cover"
                />
                <div
                  class="absolute left-[50%] top-[50%] flex h-[100px] w-[100px] translate-x-[-50%] translate-y-[-50%] cursor-pointer items-center justify-center opacity-0 transition-all duration-300 hover:opacity-100"
                >
                  <VUploadFile
                    @update:model-value="
                      (value) =>
                        handelConvertImg('avatar', 'avatarField', value)
                    "
                    class="flex !h-full !w-full justify-center text-gray-500"
                  />
                </div>
              </div>
              <div class="translate-y-4">
                <p class="text-[20px] font-[600]">{{ user?.fullName }}</p>
              </div>
            </div>
            <!-- function profile -->
            <VButton
              v-if="!background && !avatar && !isEdit && !isUpdatePassword"
              class="translate-y-5 bg-slate-600 text-white"
              prepend-icon="mdi-pencil"
              label="Update profile"
              @click="
                () => {
                  setFieldValue('fullName', user?.fullName);
                  isEdit = true;
                }
              "
            />
            <div
              class="flex items-center gap-4"
              v-if="!background && !avatar && isEdit && !isUpdatePassword"
            >
              <VButton
                class="translate-y-5 bg-slate-600 text-white"
                label="Cancel"
                @click="
                  () => {
                    isEdit = false;
                    resetForm();
                  }
                "
              />
              <VButton
                class="translate-y-5 bg-slate-600 text-white"
                label="Update"
                @click="handelUpdateProfile"
              />
            </div>
            <!-- function background -->
            <div
              v-if="background && !avatar && !isEdit && !isUpdatePassword"
              class="flex translate-y-5 items-center gap-3"
            >
              <VButton label="Cancel" @click="handelCancelBackground" />
              <VButton
                label="Upload"
                class="bg-slate-600 text-white"
                @click="handelUploadBackground"
              />
            </div>
            <!-- function avatar -->
            <div
              v-if="avatar && !background && !isEdit && !isUpdatePassword"
              class="flex translate-y-5 items-center gap-3"
            >
              <VButton label="Cancel" @click="handelCancelAvatar" />
              <VButton
                label="Upload"
                class="bg-slate-600 text-white"
                @click="handelUploadAvatar"
              />
            </div>
          </div>
        </div>
        <!-- form -->
        <div class="flex flex-col px-8 pb-6 pl-[20%]">
          <div class="flex items-center">
            <div class="min-w-[20%] font-[600]">Full Name:</div>
            <VTextField v-bind="fullName" v-if="isEdit" />
            <p v-else class="text-gray-600">
              {{ user?.fullName }}
            </p>
          </div>
          <div class="mt-3 flex items-center">
            <div class="min-w-[20%] font-[600]">Email:</div>
            <p class="text-gray-600">{{ user?.email }}</p>
          </div>
          <div v-if="!isUpdatePassword" class="mt-3 flex items-center">
            <div class="min-w-[20%] font-[600]">Password:</div>
            <div class="flex items-start gap-4">
              <p class="text-gray-600">**********</p>
              <p
                v-if="!background && !avatar && !isEdit && !isUpdatePassword"
                class="cursor-pointer text-[12px] text-blue-800"
                @click="isUpdatePassword = true"
              >
                Update
              </p>
            </div>
          </div>
          <div v-if="isUpdatePassword" class="flex items-end">
            <div class="min-w-[20%] font-[600]">Curent Password:</div>
            <VTextField v-bind="currentPassword" type="password" />
          </div>
          <div v-if="isUpdatePassword" class="flex items-end">
            <div class="min-w-[20%] font-[600]">New Password:</div>
            <VTextField v-bind="newPassword" type="password" />
          </div>
          <div v-if="isUpdatePassword" class="flex items-end">
            <div class="min-w-[20%] font-[600]">Confirm Password:</div>
            <VTextField v-bind="confirmPassword" type="password" />
          </div>
          <div class="mt-5 flex items-center gap-3">
            <VButton
              v-if="isUpdatePassword"
              label="Cancel"
              @click="
                () => {
                  isUpdatePassword = false;
                  resetForm();
                }
              "
            />
            <VButton
              v-if="isUpdatePassword"
              class="bg-slate-600 text-white"
              label="Update"
              @click="handelUpdatePassword"
            />
          </div>
        </div>
      </div>
      <VProgressCircular v-else />
    </template>
  </VModal>
</template>
