<script lang="ts" setup>
import { camelCaseKeys } from "~/common/utils/Transform";
import { Tag } from "~/home/dtos";

interface VModalSelectTagProp {
  currentTags: Tag[];
  tagData: Tag[];
}
const props = defineProps<VModalSelectTagProp>();
const { currentTags } = toRefs(props);

const listTagSelect = ref<Tag[]>([]);
const emit = defineEmits(["update:tags"]);

watch(
  () => currentTags.value,
  () => {
    if (currentTags.value)
      listTagSelect.value =
        (camelCaseKeys(Tag, currentTags.value) as Tag[]) || [];
  },
  { immediate: true, deep: true }
);

/**
 * Handel add tag
 * @param tag
 */
const handelSelect = (tag: Tag) => {
  const checkTags = !!listTagSelect.value.find(
    (tagSelect) => tagSelect.tagId === tag.tagId
  );
  switch (checkTags) {
    case true:
      listTagSelect.value = listTagSelect.value.filter(
        (itemTag) => itemTag.tagId !== tag.tagId
      );
      break;
    case false:
      listTagSelect.value = [...listTagSelect.value, tag];
      break;
  }
  emit("update:tags", listTagSelect.value);
};
</script>
<template>
  <VModal :persistent="false">
    <template #open>
      <VButton
        icon="mdi-tag-plus-outline"
        class-button="!w-[32px] !h-[32px] !text-[12px]"
      />
    </template>
    <template #body>
      <p class="text-gray-500">Select Tags</p>
      <div class="mt-2 flex flex-wrap gap-3">
        <VTag
          v-if="tagData.length > 0"
          v-for="tag in tagData"
          @select="handelSelect(tag)"
          :key="tag.tagId"
          :label="tag.label"
          :is-select="
            !!listTagSelect.find((tagSelect) => tagSelect.tagId === tag.tagId)
          "
          :cover="tag.cover"
          :color="tag.color"
        />
        <div v-else class="text-gray-500">
          You don't have any tags yet, click the + button in the lower right
          corner of the screen -> Manage Tags
        </div>
      </div>
    </template>
  </VModal>
</template>
