<script lang="ts" setup>
interface VModalSelectColorProp {
  currentColor: string;
}
const props = defineProps<VModalSelectColorProp>();
const { currentColor } = toRefs(props);

import { Colors } from "~/common/constants/Colors";
const emit = defineEmits(["update:color"]);
const colorCover = ref<string>("");

onMounted(() => {
  colorCover.value = currentColor.value;
});

const handelChangeColor = (color: string) => {
  colorCover.value = color;
  emit("update:color", color);
};
</script>
<template>
  <VModal :persistent="false">
    <template #open>
      <VButton
        prepend-icon="mdi-credit-card-multiple-outline"
        variant="text"
        label="Cover"
      />
    </template>
    <template #body>
      <div>
        <p class="text-gray-500">Colors</p>
        <div class="mt-2 grid grid-cols-5 gap-1">
          <div v-for="(color, index) in Colors" :key="index">
            <div
              class="color-item"
              :class="color === colorCover ? 'active' : ''"
              @click="handelChangeColor(color)"
            >
              <div
                :style="{ backgroundColor: color }"
                class="h-[32px] w-[50px] cursor-pointer rounded transition duration-300 hover:brightness-110"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </VModal>
</template>
