<script lang="ts" setup>
import { storeToRefs } from "pinia";
import { useForm } from "vee-validate";
import { vuetifyConfig } from "~/common/modules/Vuetify";
import { useOverLoading } from "~/common/stores/OverLoading";
import { useSnackbars } from "~/common/stores/Snackbars";
import { Tag } from "~/home/dtos";
import { useNoteStore } from "~/home/stores/Note";
import VDialogConfirm from "./VDialogConfirm.vue";

/**
 * vee-valiedate
 */
const form = useForm({
  initialValues: {
    labelTag: null as string | null,
    background: "#66b3ff",
    color: "#ffffff",
  },
  validationSchema: {
    labelTag: "required|min:2|max:20",
  },
});
const {
  defineComponentBinds,
  values,
  errors,
  resetForm,
  setFieldValue,
  validate,
} = form;
const labelTag = defineComponentBinds("labelTag", vuetifyConfig);
const background = defineComponentBinds("background", vuetifyConfig);
const color = defineComponentBinds("color", vuetifyConfig);

const inValid = computed(() => {
  return !!(Object.keys(errors.value).length > 0);
});

const modalConfirm = ref<InstanceType<typeof VDialogConfirm>>();
const isOpen = ref(false);
const isLoading = ref(false);
const isLoadingCreate = ref(false);
const tagDetail = ref<Tag | undefined>();
const tagStore = useNoteStore();
const snackbarStore = useSnackbars();
const overLoadingStore = useOverLoading();
const { tagData } = storeToRefs(tagStore);
const listTagData = ref<Tag[]>();

const handelOpenModal = () => {
  isOpen.value = true;
};

onMounted(async () => {
  tagData.value = [];
  isLoading.value = true;
  await tagStore.loadTags();
  isLoading.value = false;
});

watch(
  () => tagData.value,
  () => {
    listTagData.value = tagData.value;
  }
);

defineExpose({
  handelOpenModal,
});

const handelCreateTag = async () => {
  await validate();
  if (inValid.value) return;
  else {
    isLoadingCreate.value = true;
    overLoadingStore.openOverLoading();
    values.labelTag &&
      (await tagStore.postTag({
        color: values.color,
        cover: values.background,
        label: values.labelTag,
        notes: [],
      }));
    try {
      await tagStore.loadTags();
      snackbarStore.openSnackbar(
        "success",
        `Create tag ${values.labelTag} success`
      );
      resetForm();
    } catch (error) {
      console.log(error);
    }
    overLoadingStore.closeOverLoading();
    isLoadingCreate.value = false;
  }
};

const handelGetDetail = (tag: Tag) => {
  tagDetail.value = tag;
  setFieldValue("labelTag", tag.label);
  setFieldValue("background", tag.cover);
  setFieldValue("color", tag.color);
};

const handelUpdateTag = async () => {
  await validate();
  if (inValid.value) return;
  else {
    useOverLoading().openOverLoading();
    const newTag = {
      ...tagDetail.value,
      label: values.labelTag,
      cover: values.background,
      color: values.color,
    };
    try {
      await tagStore.updateTag(newTag as Tag);
      snackbarStore.openSnackbar(
        "success",
        `Update tag ${values.labelTag} success`
      );
      await tagStore.loadTags();
    } catch (error) {
      console.log(error);
    }
    useOverLoading().closeOverLoading();
  }
};

const handelRemoveTag = async () => {
  try {
    if (tagDetail.value && tagDetail.value.tagId) {
      overLoadingStore.openOverLoading();
      await tagStore.removeTag(tagDetail.value.tagId.toString());
      snackbarStore.openSnackbar(
        "success",
        `Remove tag ${tagDetail.value.label} success`
      );
      await tagStore.loadTags();
    }
  } catch (error) {
    console.log(error);
  }
  modalConfirm.value?.handelCloseModal();
  overLoadingStore.closeOverLoading();
};

watch(
  () => isOpen.value,
  () => {
    if (!isOpen.value) {
      resetForm();
      tagDetail.value = undefined;
    }
  }
);
</script>
<template>
  <VModal
    class="modal-new-tags"
    :persistent="false"
    @open="(value:boolean) => (isOpen = value)"
    :is-open="isOpen"
  >
    <template #open> </template>
    <template #body>
      <div v-if="!isLoading && !isLoadingCreate">
        <div class="flex items-center justify-between">
          <p class="text-[18px] text-gray-500">
            {{ tagDetail ? "Update Tag" : "Create Tag" }}
          </p>
          <VButton
            v-if="tagDetail"
            class="bg-red-500 px-[10px]"
            @click="modalConfirm?.handelOpenModal()"
            ><template #image>
              <VIcon
                icon="mdi-tag-remove-outline"
                size="20"
                color="white"
              /> </template
          ></VButton>
        </div>
        <div class="mt-2">
          <div class="flex items-center">
            <p class="w-[120px] text-[14px]">Label tag</p>
            <VTextField
              placeholder="Enter your title note"
              class="filed-search__todo"
              variant="underlined"
              v-bind="labelTag"
              hide-details="auto"
            />
          </div>
          <div class="mt-3 flex items-center">
            <p class="w-[120px] text-[14px]">Background</p>
            <div class="flex items-center gap-3">
              <VColor
                @update:model-value="
                  (value) => setFieldValue('background', value)
                "
                :color="values.background"
              >
                <template #open>
                  <div
                    class="h-[23px] w-[23px] cursor-pointer rounded shadow"
                    :style="{ backgroundColor: values.background }"
                  ></div> </template
              ></VColor>
            </div>
          </div>
          <div class="mt-2 flex items-center">
            <p class="w-[120px] text-[14px]">Color label</p>
            <div class="flex items-center gap-3">
              <VColor
                @update:model-value="(value) => setFieldValue('color', value)"
                :color="values.color"
              >
                <template #open>
                  <div
                    class="h-[23px] w-[23px] cursor-pointer rounded shadow"
                    :style="{ backgroundColor: values.color }"
                  ></div>
                </template>
              </VColor>
            </div>
          </div>
          <div class="mt-2 flex justify-between">
            <div class="flex items-center">
              <span class="text-[12px] text-gray-500">Example:</span>
              <div
                class="ml-4 inline-block min-w-[30px] cursor-pointer items-center rounded px-2 text-[12px] font-[500] duration-300 hover:brightness-110"
                :style="{
                  backgroundColor: values.background,
                  color: values.color,
                }"
              >
                {{ values.labelTag ?? "UI Design" }}
              </div>
            </div>
            <div>
              <div v-if="tagDetail" class="flex gap-3">
                <VButton
                  label="Cancel"
                  @click="
                    () => {
                      tagDetail = undefined;
                      resetForm();
                    }
                  "
                />
                <VButton
                  prepend-icon="mdi-tag-arrow-up-outline"
                  label="Update"
                  :style="{
                    backgroundColor: values.background,
                    color: values.color,
                  }"
                  :disabled="inValid"
                  @click="handelUpdateTag"
                />
              </div>
              <VButton
                v-else
                :style="{
                  backgroundColor: values.background,
                  color: values.color,
                }"
                :disabled="inValid"
                prepend-icon="mdi-plus"
                @click="handelCreateTag"
                label="Add Tag"
              ></VButton>
            </div>
          </div>
        </div>
        <p class="mt-4 text-[14px] text-gray-500">
          Current Tags (
          <span class="font-[600] text-[#000]">{{ tagData.length }} tags</span>
          )
        </p>
        <div v-if="tagData.length <= 0" class="flex-column flex items-center">
          <img class="h-[180px] w-[220px]" src="/images/not_found.gif" alt="" />
          <p class="italic text-gray-500">You don't have any tags yet</p>
        </div>
        <div v-else class="mt-2 flex max-w-[600px] flex-wrap gap-3">
          <VTag
            v-for="tag in listTagData"
            :key="tag.tagId"
            :label="tag.label"
            :cover="tag.cover"
            :color="tag.color"
            @click="handelGetDetail(tag)"
          />
        </div>
      </div>
      <div v-else class="flex h-full w-full items-center justify-center">
        <VProgressCircular />
      </div>
      <VDialogConfirm
        @confirm="handelRemoveTag"
        ref="modalConfirm"
        type="delete"
        title="Are you sure you want to delete this tag?"
      />
    </template>
  </VModal>
</template>
