<script setup lang="ts">
interface MenuProp {
  isLoading: boolean;
  user?: User;
}

const props = defineProps<MenuProp>();
const { isLoading, user } = toRefs(props);

import { User } from "~/auth/dtos";
import { MENU } from "~/common/constants/Menu";
const menu = ref(false);
const emit = defineEmits(["logout", "setting", "account"]);

const handelEventMenu = (type: "logout" | "setting" | "account") => {
  emit(type);
  menu.value = false;
};
</script>
<template>
  <div class="text-center">
    <v-menu v-model="menu" :close-on-content-click="false" location="end">
      <template v-slot:activator="{ props }">
        <v-list class="list-menu" v-bind="props">
          <v-list-item
            :prepend-avatar="
              isLoading
                ? 'https://cdn.vuetifyjs.com/images/john.jpg'
                : user?.avatar
            "
            :title="user?.fullName"
          />
        </v-list>
      </template>

      <v-card>
        <v-list>
          <v-list-item
            :prepend-avatar="
              isLoading
                ? 'https://cdn.vuetifyjs.com/images/john.jpg'
                : user?.avatar
            "
            :title="user?.fullName"
            :subtitle="user?.email"
          />
        </v-list>
        <v-divider></v-divider>
        <v-list class="menu">
          <v-list-item
            v-for="itemMenu in MENU"
            :key="itemMenu.key"
            @click="handelEventMenu(itemMenu.key)"
            class="cursor-pointer hover:bg-slate-200"
          >
            <template v-slot:prepend>
              <v-icon :icon="itemMenu.icon"></v-icon>
            </template>
            <v-list-item-title>{{ itemMenu.label }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
  </div>
</template>

<style scoped lang="scss">
:deep(.v-list).menu {
  .v-list-item__prepend {
    margin-right: 12px;
    .v-list-item__spacer {
      display: none;
    }
  }
}
</style>
