<script lang="ts" setup>
interface VProgressCircularProps {
  classProgress?: string;
  size?: number;
  width?: number;
}

withDefaults(defineProps<VProgressCircularProps>(), {
  size: 40,
});
</script>

<template>
  <v-progress-circular
    :class="classProgress"
    :size="size"
    :width="width"
    indeterminate
    color="purple"
  ></v-progress-circular>
</template>
