<script setup lang="ts">
import type { Configs, Appointment } from "vue-pro-calendar";

interface VProCalendarProps {
  isLoading: boolean;
  events: Appointment[];
}

const props = defineProps<VProCalendarProps>();
const { events } = toRefs(props);

const cfg = ref<Configs>({
  viewEvent: undefined,
  reportEvent: {
    icon: false,
    text: "",
  },
  searchPlaceholder: "",
  eventName: "",
  closeText: "",
  nativeDatepicker: true,
  todayButton: true,
  firstDayOfWeek: 0,
});
</script>
<template>
  <pro-calendar
    class="pro-calendar"
    :events="events"
    :loading="isLoading"
    :config="cfg"
    view="month"
    :date="new Date()"
    @calendarClosed="void 0"
    @fetchEvents="void 0"
  >
    <template #closeButton> </template>
  </pro-calendar>
</template>

<style lang="scss">
.pro-calendar > .calendar-base > div:nth-child(1) > div:nth-child(3) {
  display: none;
}
.calendar--month-view span {
  font-size: 16px !important;
}

.single-event-inf span {
  font-size: 13px !important;
  font-weight: 600;
}
</style>
