<script lang="ts" setup>
import { storeToRefs } from "pinia";
import { useSnackbars, SnackbarsType } from "~/common/stores/Snackbars";

const snackbarStore = useSnackbars();
const snackbar = ref<SnackbarsType>({ isOpen: false, text: "" });

const { snackbars } = storeToRefs(snackbarStore);

onMounted(() => {
  snackbars.value = { isOpen: false, text: "" };
});

watch(
  () => snackbars.value,
  (value) => {
    snackbar.value = value;
  }
);
</script>
<template>
  <div class="text-center">
    <v-snackbar
      :color="snackbar?.status"
      :timeout="4000"
      v-model="snackbar.isOpen"
      location="top right"
    >
      {{ snackbar?.text }}
      <template v-slot:actions>
        <v-btn
          icon="mdi-close"
          variant="text"
          @click="snackbarStore.closeSnackbar"
        >
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
