<script setup lang="ts">
import dayjs from "dayjs";
import { storeToRefs } from "pinia";
import { TodoStatus } from "~/common/constants/Enums";
import { useTheme } from "~/common/stores/Theme";
import { Note, Todo } from "~/home/dtos";

interface VStatisticNoteProps {
  noteData: Note[];
  isLoading: boolean;
}

const props = defineProps<VStatisticNoteProps>();
const { noteData, isLoading } = toRefs(props);

const useThemeStore = useTheme();
const { theme } = storeToRefs(useThemeStore);
const isActive = ref(false);
const classStatis = ref();
const iconButton = ref();
const doneTodos = ref<Todo[]>([]);
const lateTodos = ref<Todo[]>([]);
const waitTodos = ref<Todo[]>([]);
const listTodos = ref<Todo[]>([]);
const dataChart = ref();

/**
 * Get all list todo
 */

watch(
  () => noteData.value,
  () => {
    doneTodos.value = [];
    lateTodos.value = [];
    waitTodos.value = [];
    listTodos.value = [];
    noteData.value.forEach((note) => {
      if (note.todos.length > 0) {
        const timeTo = new Date(note.timeTo);
        const today = dayjs();
        const endDay = dayjs(timeTo);

        const listDone = note.todos.filter(
          (todo) => todo.status === TodoStatus.Done
        );
        doneTodos.value = [...doneTodos.value, ...listDone];

        if (today.isAfter(endDay)) {
          const listLate = note.todos.filter(
            (todo) => todo.status === TodoStatus.Wait
          );
          lateTodos.value = [...lateTodos.value, ...listLate];
        } else {
          const listWait = note.todos.filter(
            (todo) => todo.status === TodoStatus.Wait
          );
          waitTodos.value = [...waitTodos.value, ...listWait];
        }
      }
    });
    listTodos.value = [
      ...doneTodos.value,
      ...lateTodos.value,
      ...waitTodos.value,
    ];
    let percentDone = (
      (doneTodos.value.length * 100) /
      listTodos.value.length
    ).toFixed(1);
    const percentLate = (
      (lateTodos.value.length * 100) /
      listTodos.value.length
    ).toFixed(1);
    let percentWait = (
      (waitTodos.value.length * 100) /
      listTodos.value.length
    ).toFixed(1);
    const totalPercentage =
      parseFloat(percentDone) +
      parseFloat(percentLate) +
      parseFloat(percentWait);

    if (totalPercentage !== 100) {
      const adjustment = totalPercentage - 100;
      if (adjustment > 0) {
        percentWait = (parseFloat(percentWait) - adjustment).toFixed(1);
      } else {
        percentWait = (parseFloat(percentWait) + Math.abs(adjustment)).toFixed(
          1
        );
      }
    }
    dataChart.value = [
      percentDone !== "0.0" ? percentDone : "",
      percentLate !== "0.0" ? percentLate : "",
      percentWait !== "0.0" ? percentWait : "",
    ];
  }
);

/**
 * Active width static note
 * @param isActive
 */
watch(
  () => isActive.value,
  () => {
    if (isActive.value) {
      classStatis.value = "w-[350px]";
      iconButton.value = "mdi-menu-right";
    } else {
      classStatis.value = "w-[0px]";
      iconButton.value = "mdi-menu-left";
    }
  },
  { immediate: true }
);
</script>
<template>
  <div
    class="relative h-[calc(100%-47px)] bg-white py-5 shadow transition-[width]"
    :class="[classStatis, theme ? '!bg-[#1A1A1A] !text-white' : '']"
  >
    <div class="absolute left-[-48px] top-4">
      <VButton
        @click="isActive = !isActive"
        :icon="iconButton"
        class-button="!w-[40px] !h-[40px] rounded-[6px] text-[19px] bg-white"
      />
    </div>
    <div v-if="isLoading" class="flex h-full items-center justify-center">
      <VProgressCircular />
    </div>
    <div class="w-full" v-else>
      <p class="mb-3 text-center text-[20px] font-[600]">Static Note Today</p>
      <div
        class="flex w-full items-center justify-center overflow-hidden p-3"
        v-if="listTodos.length > 0"
      >
        <VChart
          :labels="['Done', 'Late', 'Waiting']"
          title="%"
          :data="dataChart"
          type="doughnut"
          class-v-chart="!w-[300px] !h-[300px]"
          :background-char="['#22C55E', 'rgb(233,98,98)', 'rgb(198,196,199)']"
        />
      </div>
      <div v-else class="flex w-full flex-col items-center overflow-hidden">
        <img src="/images/not_found.gif" alt="" class="w-[60%]" />
        <p class="mt-4 font-[500] italic text-gray-600">Not found Todo</p>
      </div>
      <div class="mt-3 px-3">
        <p class="text-[16px] font-[600]">Projects</p>
        <div class="mt-2 grid grid-cols-2">
          <div class="rounded-lg px-4 py-1">
            <p class="text-[12px] font-[600] text-gray-400">Total</p>
            <p
              class="relative ml-[10px] text-[20px] font-[600] before:absolute before:left-[-10px] before:top-0 before:h-full before:w-[3px] before:bg-gray-400"
            >
              {{ listTodos.length }}
            </p>
          </div>
          <div class="rounded-lg px-4 py-1">
            <p class="text-[12px] font-[600] text-gray-400">Done</p>
            <p
              class="relative ml-[10px] text-[20px] font-[600] before:absolute before:left-[-10px] before:top-0 before:h-full before:w-[3px] before:bg-green-500"
            >
              {{ doneTodos.length }}
            </p>
          </div>
          <div class="rounded-lg px-4 py-1">
            <p class="text-[12px] font-[600] text-gray-400">Late</p>
            <p
              class="relative ml-[10px] text-[20px] font-[600] before:absolute before:left-[-10px] before:top-0 before:h-full before:w-[3px] before:bg-red-600"
            >
              {{ lateTodos.length }}
            </p>
          </div>
          <div class="rounded-lg px-4 py-1">
            <p class="text-[12px] font-[600] text-gray-400">Waiting</p>
            <p
              class="relative ml-[10px] text-[20px] font-[600] before:absolute before:left-[-10px] before:top-0 before:h-full before:w-[3px] before:bg-orange-500"
            >
              {{ waitTodos.length }}
            </p>
          </div>
        </div>
      </div>
      <div class="mt-5 px-3">
        <p class="text-[16px] font-[600]">Recent plans</p>
        <div></div>
      </div>
    </div>
  </div>
</template>
