<script lang="ts" setup>
interface VTextareaProps {
  value: string;
  background: string;
}
const props = withDefaults(defineProps<VTextareaProps>(), {
  value: "",
  background: "#40BF72",
});
const { value, background } = toRefs(props);
const emit = defineEmits(["update:modelValue"]);
</script>
<template>
  <v-textarea
    class="textarea"
    variant="underlined"
    hide-details="auto"
    density="comfortable"
    rows="10"
    :bg-color="background"
    :model-value="value"
    @update:modelValue="value => emit('update:modelValue', value)"
  ></v-textarea>
</template>
<style lang="scss">
.v-text-field.textarea textarea {
  background: transparent !important;
  -webkit-mask-image: none !important;
  height: 270px;
  padding: 8px !important;
  font-size: 14px !important;
}
textarea:focus {
  box-shadow: none !important;
}
</style>
