<script lang="ts" setup>
const emit = defineEmits(["update:modelValue"]);
const file = ref();
watch(
  () => file.value,
  (value) => {
    emit("update:modelValue", value);
  }
);
</script>
<template>
  <v-file-input
    @update:modelValue="(value) => (file = value)"
    class="v-file-input"
    variant="filled"
    prepend-icon="mdi-camera-enhance-outline"
  ></v-file-input>
</template>
<style lang="scss">
.v-file-input {
  input,
  .v-input__control,
  .v-input__details {
    display: none;
  }
  .v-input__prepend {
    margin-inline-end: 0px !important;
  }
}
</style>
