<script lang="ts" setup>
import { storeToRefs } from "pinia";
import { useNoteStore } from "~/home/stores/Note";
import { Note } from "../dtos";
import { useTheme } from "~/common/stores/Theme";

const isLoading = ref(false);
const noteStore = useNoteStore();
const { noteData, tagData } = storeToRefs(noteStore);
const useThemeStore = useTheme();
const { theme } = storeToRefs(useThemeStore);

const listNote = ref<Note[]>([])

onMounted(async () => {
  isLoading.value = true;
  noteData.value = [];
  tagData.value = [];
  await noteStore.load();
  await noteStore.loadTags();
  isLoading.value = false;
});

watch(() => noteData.value, (value) => {
  listNote.value = value
})


</script>
<template>
  <div class="h-full w-full" :class="theme ? 'bg-[#1A1A1A]' : ''">
    <!-- Menu Function -->
    <VMenuHomeTodo />

    <!-- Main todo Page -->
    <div class="flex h-full items-start">
      <div class="h-[calc(100%-47px)] w-full flex-1 overflow-y-scroll">
        <VListItemTodo
          :note-data="listNote"
          :tag-data="tagData"
          :is-loading="isLoading"
        />
      </div>
      <!-- Static Todo -->
      <VStatisticNote :note-data="listNote" :is-loading="isLoading" />
    </div>
  </div>
</template>
<route lang="yaml">
meta:
  layout: Base
</route>
