<script lang="ts" setup>
import { storeToRefs } from "pinia";
import { useAuthStore } from "~/auth/stores/Auth";
import { useTheme } from "~/common/stores/Theme";
import VDialogConfirm from "~/common/components/organisms/VDialogConfirm.vue";

const modalConfirmLogout = ref<InstanceType<typeof VDialogConfirm>>();

const useAuth = useAuthStore();
const { user } = storeToRefs(useAuth);
const useThemeStore = useTheme();
const router = useRouter();
const { theme } = storeToRefs(useThemeStore);
const isLoading = ref(false);
const isOpenProfile = ref(false);

onMounted(async () => {
  isLoading.value = true;
  await useAuth.getUser();
  isLoading.value = false;
});

const handelLogout = () => {
  localStorage.removeItem("auth");
  router.push("/login");
};

const handelSetting = () => {
  console.log("setting");
};

const handelAccount = () => {
  isOpenProfile.value = true;
};
</script>
<template>
  <div class="relative flex h-[100vh] w-full overflow-hidden">
    <VSnackbars />
    <VOverLoading />
    <VHeader />
    <VDialogConfirm
      @confirm="handelLogout"
      ref="modalConfirmLogout"
      type="logout"
      title="You're about to be signed out of NoteWeb"
    />
    <VModalProfile
      :is-loading="isLoading"
      :user="user"
      :is-open="isOpenProfile"
      @open="
        (value) => {
          if (!value) isOpenProfile = value;
        }
      "
    />
    <main
      class="flex h-full w-full flex-1"
      :class="theme ? 'dark bg-[#1A1A1A]' : ''"
    >
      <div class="relative w-full">
        <div
          class="h-[47px] w-full border-b-[1px] border-[#dbdbdd]"
          :class="theme ? '!border-[#73727270] text-white' : ''"
        >
          <div
            class="flex h-full w-full items-center justify-between gap-2 overflow-hidden px-4 pr-5"
          >
            <div class="flex items-center gap-3"></div>
            <div class="flex cursor-pointer items-center gap-1">
              <VPopupMenu
                :is-loading="isLoading"
                :user="user"
                @logout="modalConfirmLogout?.handelOpenModal();"
                @setting="handelSetting"
                @account="handelAccount"
              />
            </div>
          </div>
        </div>
        <div class="h-full bg-[#fff]">
          <RouterView />
        </div>
      </div>
    </main>
  </div>
</template>
