<template>
  <div class="h-full w-full">
    <VSnackbars/>
    <VHeader />

    <div class="flex h-full w-full flex-row pb-[27px] pt-10">
      <aside class="w-[300px] overflow-y-auto bg-white md:w-[400px]">
        <slot name="drawer">Drawer</slot>
      </aside>
      <main class="flex-grow overflow-y-auto bg-white">
        <slot name="content">Content</slot>
      </main>
    </div>

    <VFooter />
  </div>
</template>
