<script setup lang="ts">
import { Rive } from "@rive-app/canvas";
import { useForm } from "vee-validate";
import { vuetifyConfig } from "~/common/modules/Vuetify";
import { useAuthStore } from "~/auth/stores/Auth";
import { useOverLoading } from "~/common/stores/OverLoading";
import { bodyMail } from "~/common/utils/NodeMailer";
import { generateUniqueId } from "~/common/constants/Uuid";

const form = useForm({
  initialValues: {
    fullName: "",
    username: "",
    password: "",
    confirmPassword: "",
  },
  validationSchema: {
    fullName: "required",
    username: "required|email",
    password: "required|min:8|max:16",
    confirmPassword: "required|confirmed:@password",
  },
});
const { errors, values, validate, defineComponentBinds } = form;
const username = defineComponentBinds("username", vuetifyConfig);
const password = defineComponentBinds("password", vuetifyConfig);
const fullName = defineComponentBinds("fullName", vuetifyConfig);
const confirmPassword = defineComponentBinds("confirmPassword", vuetifyConfig);
const timeOuteOTP = ref<ReturnType<typeof setTimeout>>();
const intervalSendOTP = ref<ReturnType<typeof setInterval>>();
const timeResend = ref(30);
const otpCode = ref("");

const isConfirmEmail = ref(false);
const useAuth = useAuthStore();
const overLoadingStore = useOverLoading();
const canvas = ref<HTMLCanvasElement | null>(null);
const rive = ref<Rive | null>(null);
const router = useRouter();

onMounted(() => {
  if (canvas.value) {
    rive.value = new Rive({
      src: "images/login.riv",
      canvas: canvas.value,
      autoplay: true,
      animations: "idle",
    });
  }
});

const handelAnimation = (type: string, isStop: boolean = true) => {
  isStop &&
    toRaw(rive.value)?.playingAnimationNames.includes("Hands_up") &&
    toRaw(rive.value)?.pause("Hands_up");
  toRaw(rive.value)?.play(type);
};

const handelRegister = async () => {
  await validate();
  if (Object.keys(errors.value).length > 0) {
    handelAnimation("fail");
    return;
  } else {
    overLoadingStore.openOverLoading();
    const result = await useAuth.checkEmail({
      fullName: values.fullName,
      email: values.username,
      password: values.password,
    });
    if (result) {
      handelAnimation("success");
      setTimeout(() => {
        isConfirmEmail.value = true;
        handelResendOTP();
        // router.push("/");
      }, 1000);
    } else {
      handelAnimation("fail");
    }
    overLoadingStore.closeOverLoading();
  }
};

const handelCheckEmail = async (value: string) => {
  clearTimeout(timeOuteOTP.value);
  timeOuteOTP.value = setTimeout(() => {
    if (value === otpCode.value) {
      handelAnimation("success");
      overLoadingStore.openOverLoading();

      setTimeout(async () => {
        const result = await useAuth.register({
          fullName: values.fullName,
          email: values.username,
          password: values.password,
        });
        if (result) {
          handelAnimation("success");
          setTimeout(() => {
            router.push("/");
          }, 1000);
        } else {
          handelAnimation("fail");
        }
        overLoadingStore.closeOverLoading();
      }, 1000);
    } else {
      handelAnimation("fail");
    }
  }, 800);
};

const handelResendOTP = async () => {
  timeResend.value = 30;
  intervalSendOTP.value;
  otpCode.value = generateUniqueId().toString().slice(0, 6);

  const mailRequest = {
    email: values.username,
    subject: "OTP authentication for Note Todo Website",
    body: bodyMail(
      otpCode.value,
      "OTP authentication",
      "You have requested to register an account on the Note Todo website."
    ),
  };
  await useAuth.sendEmail(mailRequest);
};

watch(
  () => isConfirmEmail.value,
  (value) => {
    if (value) {
      clearInterval(intervalSendOTP.value);
      intervalSendOTP.value = setInterval(() => {
        if (timeResend.value > 0) {
          timeResend.value--;
        }
      }, 1000);
    }
  }
);
</script>
<template>
  <div
    class="flex min-h-[100vh] w-full flex-col items-center justify-center overflow-y-auto bg-[#D6E2EA] py-8"
  >
    <VSnackbars />
    <VOverLoading />

    <div class="z-[2] text-center">
      <div class="text-[30px] font-bold">
        {{ isConfirmEmail ? "OTP authentication" : "Welcome to Note Todo!" }}
      </div>
      <p class="mt-2 max-w-[350px] text-[14px] font-[400] text-[#777676]">
        Please enter
        {{
          isConfirmEmail
            ? "OTP code has been sent to your email."
            : "your details."
        }}
        You can
        <span
          @click="router.push('/login')"
          class="cursor-pointer text-[#A02D62] hover:font-[600] hover:text-[#da5a98]"
        >
          Login account
        </span>
        if you have an account
      </p>
    </div>
    <div class="-translate-y-10">
      <canvas ref="canvas" width="400" height="400"></canvas>
      <div class="w-[400px] rounded bg-white px-6 py-4">
        <div v-if="!isConfirmEmail">
          <VTextField
            v-bind="fullName"
            label="FullName"
            variant="outlined"
            @keydown.enter="handelRegister"
          />
          <VTextField
            v-bind="username"
            label="Username"
            variant="outlined"
            class="mt-3"
            @keydown.enter="handelRegister"
          />
          <VTextField
            v-bind="password"
            label="Password"
            variant="outlined"
            class="mt-3"
            type="password"
            @update:focused="
              (isFocus) => {
                isFocus
                  ? handelAnimation('Hands_up', false)
                  : handelAnimation('hands_down');
              }
            "
            @keydown.enter="handelRegister"
          />
          <VTextField
            v-bind="confirmPassword"
            label="Confirm Password"
            variant="outlined"
            class="mt-3"
            type="password"
            @update:focused="
              (isFocus) => {
                isFocus
                  ? handelAnimation('Hands_up', false)
                  : handelAnimation('hands_down');
              }
            "
            @keydown.enter="handelRegister"
          />
          <VButton
            label="Register"
            class="mt-4 !h-[48px] w-full bg-[#2B2A2B] text-[16px] text-white"
            @click="handelRegister"
          />
        </div>
        <div v-else>
          <VEmailConfirm
            @update:model-value="(value) => handelCheckEmail(value)"
          />
          <VButton
            label="Resend OTP"
            class="mt-4 !h-[48px] w-full bg-[#2B2A2B] text-[16px]"
            :class="timeResend > 0 ? 'bg-gray-400' : 'text-white'"
            :disabled="timeResend > 0"
            @click="handelResendOTP"
          />
          <p class="text-center text-[14px] text-gray-500">{{ timeResend }}s</p>
        </div>
      </div>
    </div>
  </div>
</template>
