<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useStickyStore } from "./stores/Sticky";
import { generateUniqueId } from "~/common/constants/Uuid";
import VDialogConfirm from "~/common/components/organisms/VDialogConfirm.vue";
const stickyStore = useStickyStore();
const { stickyData, isUpdate } = storeToRefs(stickyStore);
const modalConfirm = ref<InstanceType<typeof VDialogConfirm>>();
const modalConfirmRemoveAll = ref<InstanceType<typeof VDialogConfirm>>();
const isLoading = ref(false);
const selected = ref();
const selectedX = ref(0);
const selectedY = ref(0);
const currentStickyX = ref(0);
const currentStickyY = ref(0);
const textareaRef = ref(null);
const stickySelected = ref();

onMounted(async () => {
  if (isUpdate.value) {
    isLoading.value = true;
    stickyData.value = [];
    await stickyStore.load();
    isLoading.value = false;
  } else {
    // isUpdate.value = true
  }
});

const getCursor = (event: MouseEvent) => {
  if (!selected.value) return;
  const sticky = document.getElementById(`sticky${selected.value}`);
  const stickyList = document.getElementById("sticky-list");
  if (!sticky || !stickyList) return;
  stickyData.value.filter((item) => item.id === selected.value)[0].position = `
    left: ${Math.max(
      Math.min(
        currentStickyX.value + (event.clientX - selectedX.value),
        stickyList.offsetWidth - 250
      ),
      0
    )}px;
    top: ${Math.max(
      currentStickyY.value + (event.clientY - selectedY.value),
      0
    )}px;`;
};

const handelMoveEl = (event: MouseEvent, id: string | number) => {
  selected.value = id;
  selectedX.value = event.clientX;
  selectedY.value = event.clientY;
  const sticky = document.getElementById(`sticky${id}`);
  if (!sticky) return;
  currentStickyX.value = sticky.offsetLeft;
  currentStickyY.value = sticky.offsetTop;
};

const handelAddSticky = (cover?: string) => {
  isUpdate.value = false;
  const stickyList = document.getElementById("sticky-list");
  if (stickyList) {
    stickyData.value = [
      ...stickyData.value,
      {
        id: generateUniqueId(),
        content: "",
        cover: cover ?? "#40BF72",
        position: `left: 0px; top:${stickyList.scrollTop + 46 - 46}px`,
        minimize: false,
        uuid: generateUniqueId(),
        createdAt: new Date().toISOString(),
        index: 0,
      },
    ];
  }
};

const handelRemoveSticky = (isAll: boolean = false) => {
  isUpdate.value = false;
  if (isAll) {
    stickyData.value = [];
    modalConfirmRemoveAll.value?.handelCloseModal();
  } else {
    stickyData.value = stickyData.value.filter(
      (item) => item.id !== stickySelected.value.id
    );
    stickySelected.value = null;
    modalConfirm.value?.handelCloseModal();
  }
};

</script>
<template>
  <div
    id="sticky-list"
    @mousemove="(e) => getCursor(e)"
    @mouseup="selected = ''"
    class="relative overflow-y-auto pt-[44px]"
  >
    <!-- header -->
    <div
      class="fixed right-0 top-[47px] z-[2000] flex w-[calc(100%-250px)] items-center justify-end gap-2 bg-gray-400 py-1 pr-3 text-white"
    >
      <VButton class="px-2 !shadow-none" @click="handelAddSticky()">
        <template #image>
          <VIcon size="large" icon="mdi-plus" />
        </template>
      </VButton>
      <VButton
        class="px-2 !shadow-none"
        @click="modalConfirmRemoveAll?.handelOpenModal"
      >
        <template #image>
          <VIcon size="large" icon="mdi-pail-remove-outline" />
        </template>
      </VButton>
    </div>
    <!-- list sticky -->
    <div class="relative h-full w-full">
      <div
        class="absolute w-[250px] min-w-[250px] shadow"
        v-for="(sticky, index) in stickyData"
        :key="sticky.id"
        :style="[
          { zIndex: index + 1, backgroundColor: sticky.cover },
          sticky.position,
        ]"
        :id="`sticky${sticky.id}`"
        @mousedown="
          (e) => {
            stickyData = [
              ...stickyData.filter((item) => item.id !== sticky.id),
              sticky,
            ];
          }
        "
      >
        <!-- header -->
        <div
          class="flex items-center justify-between bg-[#00000032] text-white"
        >
          <VButton
            class="px-2 !shadow-none"
            @click="handelAddSticky(sticky.cover)"
          >
            <template #image>
              <VIcon size="large" icon="mdi-plus" />
            </template>
          </VButton>
          <div
            @mousedown="(e) => handelMoveEl(e, sticky.id)"
            @mouseup="
              () => {
                selected = '';
                isUpdate = false;
              }
            "
            class="flex h-[36px] w-full cursor-move items-center hover:bg-[#00000032]"
          >
            {{
              sticky.content.slice(0, 10) +
              `${sticky.content.length > 10 ? "..." : ""}`
            }}
          </div>
          <div class="flex items-center">
            <VButton
              class="px-2 !shadow-none"
              @click="sticky.minimize = !sticky.minimize"
            >
              <template #image>
                <VIcon
                  size="large"
                  :icon="`${
                    sticky.minimize ? 'mdi-application-outline' : 'mdi-minus'
                  }`"
                />
              </template>
            </VButton>
            <VColor
              :color="sticky.cover ?? '#40BF72'"
              @update:model-value="sticky.cover = $event"
            >
              <template #open>
                <VButton class="px-2 !shadow-none">
                  <template #image>
                    <VIcon size="large" icon="mdi-format-color-fill" />
                  </template>
                </VButton>
              </template>
            </VColor>
            <VButton
              class="px-2 !shadow-none"
              @click="
                () => {
                  stickySelected = sticky;
                  modalConfirm?.handelOpenModal();
                }
              "
            >
              <template #image>
                <VIcon size="large" icon="mdi-pail-remove-outline" />
              </template>
            </VButton>
          </div>
        </div>
        <VTextarea
          ref="textareaRef"
          v-if="!sticky.minimize"
          :value="sticky.content"
          :background="sticky.cover"
          @update:model-value="sticky.content = $event"
        />
      </div>
    </div>
  </div>
  <VDialogConfirm
    @confirm="handelRemoveSticky"
    ref="modalConfirm"
    type="delete"
    title="Are you sure you want to delete this sticky?"
  />
  <VDialogConfirm
    @confirm="handelRemoveSticky(true)"
    ref="modalConfirmRemoveAll"
    type="delete"
    title="Are you sure you want to delete all sticky?"
  />
</template>
<route lang="yaml">
meta:
  layout: Base
</route>

<style scoped lang="scss">
#sticky-list {
  min-height: calc(100% - 56px);
}
</style>
