<script setup lang="ts">

// https://github.com/vueuse/head
// you can use this to manipulate the document head in any components,
// they will be rendered correctly in the html results with vite-ssg
useHead({
  title: 'Note Todo',
  meta: [
    { name: 'description', content: 'Uqey Rent Car' },
    {
      name: 'theme-color',
      content: '#ffffff',
    },
  ],
  link: [
    {
      rel: 'icon',
      type: 'image/svg+xml',
      href: '/images/logo.svg',
    },
  ],
});
</script>

<template>
  <RouterView />
</template>
