<script setup lang="ts">
import { Rive } from "@rive-app/canvas";
import { useForm } from "vee-validate";
import { vuetifyConfig } from "~/common/modules/Vuetify";
import { useAuthStore } from "~/auth/stores/Auth";
import { useOverLoading } from "~/common/stores/OverLoading";

const form = useForm({
  initialValues: {
    username: "",
    password: "",
  },
  validationSchema: {
    username: "required|email",
    password: "required|min:8|max:16",
  },
});
const { errors, values, validate, defineComponentBinds } = form;
const username = defineComponentBinds("username", vuetifyConfig);
const password = defineComponentBinds("password", vuetifyConfig);
const useAuth = useAuthStore();
const overLoadingStore = useOverLoading();
const canvas = ref<HTMLCanvasElement | null>(null);
const rive = ref<Rive | null>(null);
const router = useRouter();

onMounted(() => {
  if (canvas.value) {
    rive.value = new Rive({
      src: "images/login.riv",
      canvas: canvas.value,
      autoplay: true,
      animations: "idle",
    });
  }
});

const handelAnimation = (type: string) => {
  toRaw(rive.value)?.playingAnimationNames.includes("Hands_up") &&
    toRaw(rive.value)?.pause("Hands_up");
  toRaw(rive.value)?.play(type);
};

const handelLogin = async () => {
  await validate();
  if (Object.keys(errors.value).length > 0) {
    handelAnimation("fail");
    return;
  } else {
    overLoadingStore.openOverLoading();
    const result = await useAuth.login({
      email: values.username,
      password: values.password,
    });
    if (result) {
      handelAnimation("success");
      setTimeout(() => {
        router.push("/");
      }, 1000);
    } else {
      handelAnimation("fail");
    }
    overLoadingStore.closeOverLoading();
  }
};
</script>
<template>
  <div
    class="flex min-h-[100vh] w-full flex-col items-center justify-center bg-[#D6E2EA] py-8"
  >
    <VSnackbars />
    <VOverLoading />

    <div class="z-[2] text-center">
      <div class="text-[30px] font-bold">Welcome Back!</div>
      <p class="mt-2 max-w-[350px] text-[14px] font-[400] text-[#777676]">
        Please enter your details. You can
        <span
          @click="router.push('/register')"
          class="cursor-pointer text-[#A02D62] hover:font-[600] hover:text-[#da5a98]"
        >
          Register account
        </span>
        if you don't have an account
      </p>
    </div>
    <div class="-translate-y-10">
      <canvas ref="canvas" width="400" height="400"></canvas>
      <div class="w-[400px] rounded bg-white px-6 py-4">
        <VTextField
          @keydown.enter="handelLogin"
          v-bind="username"
          label="Username"
          variant="outlined"
        />
        <VTextField
          v-bind="password"
          label="Password"
          variant="outlined"
          class="mt-3"
          type="password"
          @keydown.enter="handelLogin"
          @update:focused="
            (isFocus) => {
              isFocus
                ? handelAnimation('Hands_up')
                : handelAnimation('hands_down');
            }
          "
        />
        <div class="mt-3 w-full text-right">
          <span
            class="cursor-pointer text-[14px] font-[500] text-[#777676] transition-all hover:font-[600] hover:text-[#2a2a2a]"
            @click="router.push('/register')"
          >
            Forgot Password?
          </span>
        </div>
        <VButton
          label="Login"
          @click="handelLogin"
          class="mt-4 !h-[48px] w-full bg-[#2B2A2B] text-[16px] text-white"
        />
      </div>
    </div>
  </div>
</template>
